<section class="main-section" id="Introduction">
    <header>Program</header>
    <article>
      
<h2>
SEEKING SAFETY GROUP
</h2>
<hr class="fade">
<p>
Welcome to the Seeking Safety group. You were referred to this group by your mental health provider because you may have experienced, or are currently experiencing, trauma, which may include having the symptoms of PTSD (Post-traumatic Stress Disorder). The focus of the Seeking Safety group is to help participants <b> learn and implement skills in their everyday</b> lives that will help them cope with situations in which their trauma history causes them to be "triggered" in a way that is more intense than what one would typically expect in that situation.
</p>
<p>
This Seeking Safety group will consist of.10 weeks covering several topics. Participants will be asked to commit to attend all sessions if possible. If a participant misses two sessions, they will be asked to restart the group at a later time when greater attendance is possible.
</p>
<p>
The focus of the Seeking Safety group is to help support people in developing coping skills that can keep them safe from harm, such as dangerous behaviors or dangerous relationships. The Seeking Safety group is focused on learning coping skills to deal with present life situations. Participants will not be asked to describe the details of their trauma, though references to their trauma may be made on a
"headlines only" basis. This is a very important group rule, as we do not want to trigger other members with trauma details of any sort.
</p>
<p>
Each Seeking Safety Session consists of four parts:
</p>
<ol>
	<li>
		Check-in (up to 5 minutes per person): How have you coped in the past week? Any unsafe behaviors? At least one example of good coping. Did you follow through on your commitment from last session and on resources for help?
	</li>
	<li>
		The Quotation: A brief discussion about a meaningful quote.	
	</li>
	<li>
		Topic of the Week: review of the week's handout and discussion of how it relates to each person's life.	
	</li>
	<li>
		Check-Out: Name on thing you got out of today's session. What is your new commitment? What community resources will you call?	
	</li>
</ol>
<p>
Participants will be asked to review the appropriate handouts in preparation for discussion the following week. The handouts correlate with the topics listed on the page following, Session Topics.
</p>
<p>
We anticipate that your participation in the Seeking Safety group will help you find and develop an array of skills that will help you cope with the challenges that occur in your everyday life.
</p>
<P>
	Please contact <hr> at <hr>
	if you need to cancel a group meeting or have any concerns that arise in the course of a group session.
</P>
<h2>
Check-In and Check-Out
</h2>
<hr class="fade">
<h3>Check-In</h3>
<p><em>Since your last session...</em></p>
<ol>
	<li>
	<b>How are you feeling?</b>	
	</li>
	<li>
		<b>What good coping have you done?</b>	
	</li>
	<li>
		<b>Any substance use or other unsafe behaviors?</b>	
	</li>
	<li>
		<b>Did you complete your commitment?</b>	
	</li>
	<li>
		<b>Community resource update?</b>	
	</li>
</ol>
<h3>
Check-Out
</h3>
<ol>
	<li>
		<b>Name one thing you got out of today's session (and any problems with the session).</b>
	</li>
	<li>
		<b>What is your new commitment?</b>
	</li>
	<li>
		<b>What community resource will you call?</b>
	</li>
</ol>

    </article>