<nav id="navbar">
      <header>Seeking safety</header>
      <ul>

        <li>
          <a class="nav-link" href="#Introduction">Introduction</a>
        </li>
        <li>
          <a class="nav-link" href="#What_you_should_already_know">
          What you should already know
          </a>
        </li>
        <li>
          <a class="nav-link" href="#week1"> week 1</a>
        </li>
        <li>
          <a class="nav-link" href="#week2"> week 2</a>
        </li>
        <li>
          <a class="nav-link" href="#week3"> week 3</a>
        </li>
         <li>
          <a class="nav-link" href="#week4"> week 4</a>
        </li>
         <li>
          <a class="nav-link" href="#week5"> week 5</a>
        </li>
         <li>
          <a class="nav-link" href="#week6"> week 6</a>
        </li>
         <li>
          <a class="nav-link" href="#week7"> week 7</a>
        </li>
         <li>
          <a class="nav-link" href="#week8"> week 8</a>
        </li>
         <li>
          <a class="nav-link" href="#week9"> week 9</a>
        </li>
         <li>
          <a class="nav-link" href="#week10"> week 10</a>
        </li>
      
        
        <li><a class="nav-link" href="#Reference">Reference</a></li>
      </ul>
    </nav>

    