<section class="main-section" id="week1">

	<header>Week 1</header>
	<h1>Creating Meaning</h1>
	<hr class="fade">
	<article>

		<blockquote>
			"Watch your thoughts; they become your words.<br>
			Watch your words; they become your actions.<br>
			Watch your actions; they become your habits.<br>
			Watch your habits; they become your character.<br>
			Watch your character; it becomes your destiny." 
			<span>   
				-Frank Outlaw
			</span>
			<span>(20th-century American writer)</span>
		</blockquote>

	</article>
</section>