
<section class="main-section" id="week7">

	<header>Week 7</header>
	<h1></h1>
	<hr class="fade">
	<article>

		<blockquote>
			"Watch your thoughts; they become your words.<br>
			Watch your words; they become your actions.<br>

			<span>   
				-Frank Outlaw
			</span>
			<span>(20th-century American writer)</span>
		</blockquote>

	</article>
</section>
 
