<section class="main-section" id="week8">

	<header>Week 8</header>
	<h1>Discovery</h1>
	<hr class="fade">
	<article>

		<blockquote>
			"Life is never what one dreams. It <br>
			is seldom what one desires, but, <br>
			for the vital spirit and the eager <br>
			mind, the future will always hold <br>
			the search for buried treasure and <br> 
			the possibility of high adventure.

			<span>   
				-Ellen Glasgow
			</span>
			<span>(20th-century American novelist)</span>
		</blockquote>

		<h2>
			Discovery versus Staying Stuck
		</h2>
		<hr class="fade">
		Discovery is one of the most powerful tools in recovery.
		"Discovery" means finding out.
		. learning from experience . . . adapting . . . curiosity . . . openness . .. moving
		forward.
		growth.
		Discovery is what children do naturally-they try to explore, find out, and have fun in trying new things. Other people who discover are explorers, artists, scientists, detectives, and hopefully you!
		Staying stuck is the opposite of discovery.
		"Staying stuck" means assuming ... avoiding . .. rigid thinking . .. hiding . . . living in the past ... being closed to the world.
		One of the difficulties of PTSD and substance abuse is staying stuck. For example, if you've had PTSD for years without getting better, you may not feel like trying any more. Or, if you've been using heroin to feel relaxed, you may not search for other ways to relax.
		<h3>A STORY</h3>
		Situation: Amy has been Iying to her therapist, Dr. Burke, about her cocaine use because she feels ashamed.
		She believes he'll stop working with her if he finds out.
		Compare two different endings to the story:
		Amy tries discovery. She tells Dr. Burke the truth because she thinks, "It'll be better to find out than to keep living with this shame." Dr. Burke asks her to start getting weekly urine tests, because the treatment cannot work if Amy hides her substance use. Amy resents this, but also sees that Dr. Burke is trying to help and will keep working with her.
		Amy stays stuck. She keeps hiding the truth from Dr. Burke. Eventually she feels so bad that she stops attending treatment altogether because she can't take the self-hatred. She uses more and more cocaine.
		<h3>THE PROCESS OF DISCOVERY</h3>
		<p><b>1. Notice your belief. For example:</b></p>
		<ul>
			<li>"I believe that if I tell my friend I'm angry with him, he'll leave.</li>
			<li>"I believe calling a hotline will make me feel more depressed."</li>
			<li>"I believe I'll never get a job."</li>
			<li>"I believe AA will be boring."</li>
		</ul>
		<p><b>2. Find an image (optional). If you want, think of an image that helps you discover:</b></p>
		<ul>
			<li>An explorer ... embarking on a search</li>
			<li>A detective ... trying to find out</li>
			<li>A child . . . interested and curious</li>
			<li>An artist . .. playing with possibilities</li>
			<li>A scientist . .. searching for the truth Or write your own image here:</li>
		</ul>

		<p>
			<b>
				3. Try discovery. Create a plan to actually find out if your belief is true. Some ways are listed in Handout 2.		
			</b>
		</p>

		<h2>
			How to Find Out If Your Belief Is True ...
		</h2>
		<hr class="fade">
		<p><b>* Ask People *</b></p>
		<p>
			"Ask People" means that you check out your belief by hearing what others think of it. The more people you ask, the better, so that you can see how much agreement there is about your belief.
			Example: Sarah believed, "If I let myself cry, I'd never stop." She decided to ask another patient (who was further along in recovery) and her therapist, and to read a book about PTSD. The result: All three sources conveyed the idea that while it is very common to feel this way, it is not true everyone stops crying eventually.
		</p>
		<p>
			<b>* Try It and See *</b>
		</p>
		<p>

			"Try It and See" means "go for it"-try doing something and see what happens. You can also think of it as setting up an experiment because, like a scientist, you design a test and then observe what happens.
			Example: Doug was living with a roommate who grew marijuana in the house. He believed, "My roommate won't be willing to stop." He decided to use "Try It and See" by asking the roommate directly. The roommate re-fused. Doug decided that it would be unhealthy to keep living with someone so unsupportive of his recovery, so he decided to move out.
		</p>
		<p><b>* Predict *</b></p>
		<p>
			"Predict" means comparing what you think will happen versus what actually happens.
			Example: Judy believed, "No matter how hard I try, I'll never learn to use my computer." She felt stupid. To discover the truth, she decided to take a computer class at the local adult learning center. With instruction and practice, she was able to learn the basics, and this made her want to continue with it.
		</p>
		<p>
			<b>* Act as If *</b>
		</p>
		<p>
			"Act as If" means trying on a more positive belief to see how it feels. It is especially helpful in situations where you cannot actually find out the truth.
		</p>
		<p> 
			Example: Rick was driving down the highway and a car cut him off. He said, "That jerk! People are so rude." He felt furious. He decided to try acting as if he believed, "That man is driving his pregnant wife to the hospital to have a baby-no wonder he's in a rush!" He felt better and slowed down when he assumed this belief. Since he couldn't find out the truth of the situation-why the car cut him off-he might as well choose to believe the gentler explanation that made him less mad. At the end of the handouts, you can read about a real patient who tried this strategy by going through a weekend "acting as if I liked myself."
		</p>
		<p>
			<b>What does it feel like to try discovery?</b> It may feel okay, or it may feel scary, risky, or awkward. Don't worry if it doesn't feel good right now; it just matters that you try it. In the long run, you are likely to feel good about it.
		</p>
		<p>
			<b>Remember safety.</b> As always, make sure that what you set out to do is safe. For example, don't try discovery with anyone who might physically hurt you, such as an abusive partner.
		</p>


		<h3>COPING WITH BAD NEWS</h3>
		<p>
			If you try discovery and things go well, you'll naturally feel much better. But sometimes you'll get negative feedback from your process of discovery. It may feel as though your worst nightmare has come true. For example:
		</p>
		<ul>
			<li>You may find out that no matter how hard you try, you can't find a job.</li>
			<li>You may get an HIV test and find out you have HIV.</li>
			<li>You may find out that when you tell the truth to your friend, the friend rejects you.</li>
		</ul>
		<p>
			Some people respond to negative feedback by hurting themselves, giving up on life, getting mad at the world, or trying to avoid getting feedback again. Here are some suggestions for healthier ways to cope with negative feedback:
		</p>
		<ol>
			<li>
				<b>	Give yourself credit</b> for having had the courage to try discovery. No matter what happens, you were brave, open, and on the right path just by trying.
			</li>
			<li>
				<b>Figure out, "What's the worst that can happen?"</b> For example, you may lose a friend but gain self-respect. You may have HIV but can get medical care to prevent it from getting worse.
			</li>
			<li>
				<b>Never take it out on yourself</b> by self-destructiveness, such as drowning your sorrows in substances, self-harm, or self-hatred.
			</li>
			<li>
				<b>Remember that negative feedback is just information,</b> nothing more. If you can listen to it, you can learn much even if it's painful. The most painful truth is better in the long run than the most positive lie. (And if you don't believe this-try using discovery to find out!)
			</li>
		</ol>

		<h2>Discovery Sheet</h2>
		<hr class="fade">
		<br><br>
		<p>Name:______________________________ Date:______________________________ </p>
		<table>
			<tr>
				<td>
					(1) Your Belief
				</td>
				<td>
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
				</td>
			</tr>
			<tr>
				<td>
					(2) Discovery <br>
					How can you find out if your belief is true? Some ways to find out:<br>
					*Ask Others<br>
					*Try It and See<br>
					* Predict<br>
					*Act as If
				</td>
				<td>
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
				</td>
			</tr>

			<tr>
				<td>
					(3) Results
					What did you find out from your discovery process?
				</td>
				<td>
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
				</td>
			</tr>

			<tr>
				<td>
					(4) What's Next?
					Where do you want to go from here?
				</td>
				<td>
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
					&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;&nbsp;&#160;
				</td>
			</tr>
		</table>
		<h2>
			Ideas for a Commitment
		</h2>
		<hr class="fade">
		<p>
			<em>
				Commit to one action that will move your life forward!
				It can be anything you feel will help you, or you can try one of the ideas below.
				Keeping your commitment is a way of respecting, honoring, and caring for yourself.
			</em>
		</p>
		<p>
			+ Option 1: Use the Discovery Sheet (Handout 3) to help you in your process of discovery.
		</p>
		<h3>
			EXAMPLE OF THE DISCOVERY SHEET
		</h3>
		<table>

			<tr>
				<td><b>(1) Your Belie</b></td>
				<td>I'll never find a job that pays above minimum wage.</td>
			</tr>
			<tr>
				<td>
					<b>(2) Discovery</b> <br>
					How can you find out if your belief is true? Some ways to find out:<br>
					*Ask Others<br>
					*Try It and See<br>
					*Predict<br>
					*Act as If
				</td>
				<td>
					I'll try applying for five jobs (that all pay above minimum wage) within the next 2 weeks and see what happens.
				</td>
			</tr>

			<tr>
				<td>
					<b>(3) Results</b>
					What did you find out from your discovery process?
				</td>
				<td>
					I didn't get any offers. I asked some of them why, and they said I don't have any computer skills.
					Even though I'm disappointed, at least I know what I need to do next. Instead of believing "I'll never find a job," I now believe that "I can get a job if I learn new skills."
				</td>
			</tr>

			<tr>
				<td>
					<b> 	(4) What's Next?</b>
					Where do you want to go from here?
				</td>
				<td>I need to take a class in computers or apply for other jobs that fit my current skills better.</td>
			</tr>

		</table>
		<p>

			+ Option 2: Try, for one day, to "act as if you like yourself." Later, write out how it went. Below is an example of one person's attempt to do this.
		</p>

		<h3>
			EXAMPLE OF ONE PERSON'S "ACT AS IF" DISCOVERY
		</h3>
		<p>
			One person decided to try the "Act as If" method of discovery by "acting as if I like myself" for a day. These were the results.
		</p>
		<p>
			"On Friday, I kept having to remember to like myself. It is a funny feeling but it puts a smile on my face. I don't act so self-destructive when I try to like myself. I walked. I went to the College Club play, and out afterwards. I had no desire to drink.
		</p>
		<p>
			"Saturday I woke up in positive spirits. Went to an A meeting. One of the first in ages. I had to keep thinking I like myself; it's hard when I'm used to thinking negative. Walked the dogs with Chris from group and enjoyed the day. Even talked to some of the people in AA.
		</p>
		<p>
			"Saturday night I'm not sure what happened. I was alone, isolating, and I forgot to like myself. I really have to think about it to remember to like myself. But I became very depressed, lonely, and for comfort turned to my old friends alcohol and food. Mavbe it is that the 'old wav with the 'old escapes' is easier because that's what I know. It is scary for me to be out in the real world-with people, at AA, etc. I have never felt more alone than I did Saturday night. I felt no one would ever love me, that I will never have a positive relationship with anyone, or have friends. All I felt was pain.
		</p>
		<p>
			"Sunday morning I remembered that I was supposed to be liking myself. It was kind of a 'yeah, right' feel-ing. But I made an attempt. But the day was so-so. For the first time in ages I prayed on Sunday morning. I know that sounds hokey, like you hear in A all the time--but I did. I asked not to drink, to get better, and with help to let go of the fears which hold me back in life, from getting better, from getting help, etc. I took the dogs to the woods and walked them. Sunday afternoon I isolated and slept. Sunday night, I did not drink but felt sad.
			I obviously was forgetting to like myself.
		</p>
		<p>
			"Monday I woke up more determined than ever to get the help I need and not give up. To treat myself as if I liked myself-like I would another person. That thinking helped. I took more care with my appearance. And became more assertive with my therapist about getting more help. I'd rather get help before there is a crisis. I took steps to take care of myself and meet some of my needs. Followed steps after therapy to try and get more help.
			Also talked to my parents honestly about the need for more help and not be so worried instead about pleasing them, others, etc. Feel good about these steps but a little scared.
		</p>
		<p>
			"What I learned from this assignment is that by trying to like myself, I act in a more positive fashion. It is hard to do this all the time and for me feels like being on shaky ground. However, I want to keep trying to think and feel this way because if I keep working on it I will take better care of myself and my needs--hopefully creating a more positive world for myself where I handle and cope with life's ups and downs in an honest, straightforward fashion. I want to like myself so that the relationships I develop are positive ones, not destructive relationships that only serve to feed into my past old escapes. I hope that with practice, liking myself will be more comfortable than the past comfort of disliking myself."
		</p>
	</article>
</section>