<section class="main-section" id="week6">

<header>Week 6</header>
<h1>Setting Boundaries in Relationships</h1>
<hr class="fade">
<article>

<blockquote>
"Let your heart guide you. <br>
It whispers, so listen closely."

<span>   
-Molly Goode
</span>
<span>(20th-century American writer)</span>
</blockquote>
<h2>Healthy Boundaries</h2>
<p>
Healthy boundaries are:
</p>
<ul>
	<li>
		Flexible. You are able to be both close and distant, adapting to the situation. You are able to let go of relationships that are destructive. You are able to connect with relationships that are nurturing.
	</li>
	<li>
		Safe. You are able to protect yourself against exploitation by others. You are able to read cues that someone is abusive or selfish
	</li>
	<li>Connected. You are able to engage in balanced relationships with others and maintain them over time. As conflicts arise, you are able to work them out.</li>
</ul>
<p>
<b>Both PTSD and substance abuse can result in unhealthy boundaries.</b> In PTSD, your boundaries (your body and your emotions) were violated by trauma. It may be difficult for you now to keep good boundaries in relation-ships. In substance abuse, you have lost boundaries with substances (you use too much, and may act in ways you normally would not, such as getting high and saying things you don't mean). Learning to establish healthy boundaries is an essential part of recovery from both disorders.
</p>
<p>
	<b>Boundaries are a problem when they are too close or too distant.</b>
</p>

<p>Boundaries can be too close (letting people in too much; enmeshed). * Do you:</p>
<ul class="boundaries-checkList">
    <li><a>Have difficulty saying "no" in relationships?</a></li>
    <li><a>Give too much?</a></li>
	<li><a>Get involved too quickly?</a></li>
	<li><a>Trust too easily?</a></li>
	<li><a>Intrude on others (e.g., violate other people's boundaries)?</a></li>
	<li><a>Stay in relationships too long?</a></li>
</ul>
<p>
Boundaries can be too distant (not letting people in enough; detached). * Do you:
</p>
<ul class="boundaries-checkList">
    <li><a>Have difficulty saying "yes" in relationships?</a></li>
    <li><a>Isolate?</a></li>
	<li><a>Feel lonely?</a></li>
	<li><a>Stay in relationships too briefly?</a></li>
</ul>
<p>	
<em>Note that many people have difficulties in both areas.</em>
</p>
	<p>
<b>Boundary problems are a misdirected attempt to beloved.</b> By "giving all" to people, you are trying to win them over; instead, you teach them to exploit you. By isolating from others, you may be trying to protect yourself, but then don't obtain the support you need.
</p>
<p>
<b>Healthy boundaries can keep you safe.</b>
</p>
<p>
Learning to say "no" can . .. keep you from getting AIDS (saying "no" to unsafe sex); keep you from using substances (saying "no" to substances); prevent exploitation (saying "no" to unfair demands); protect you from abusive relationships and domestic violence.
</p>
<p>
Learning to say "yes" can . .. allow you to rely on others; let yourself be known to others; help you feel sup-ported; get you through tough times.
</p>

<p>
<b>Setting good boundaries prevents extremes in relationships.</b> By setting boundaries, you can avoid painful extremes: too close versus too distant, giving too much versus too little, idealizing versus devaluing others. Neither extreme is healthy; balance is crucial.
</p>
<p>
<b>It is important to set boundaries with yourself as well as with others.</b>
You may have difficulty saying "no" to yourself. For example, you promise yourself you won't smoke pot, but then you do. You may overindulge in food, sex, or other addictions. You may say you won't go back to an abusive partner, but then you do.
</p>
<p>
You may have difficulty saying "yes" to yourself. For example, you may deprive yourself too much by not eating enough, working too hard, not taking time for yourself, or not allowing yourself pleasure.
</p>
<p>
<b>People with difficulty setting boundaries may violate other people's boundaries as well.</b> This may appear as setting up "tests" for other people, intruding into other people's business, trying to control others, or being verbally or physically abusive.
</p>
<p>
<b>If you physically hurt yourself or others, you need immediate help with boundaries.</b> Hurting yourself or others is an extreme form of boundary violation. It means that you act out your emotional pain through physical abuse. Work with your therapist to set a Safety Contract. (See the topic Healing from Anger for more on this.)
</p>

<h2>Too Much Closeness: Learning to Say "No" in Relationships</h2>
<hr class="fade">
<p>
Why is it important to say "no"? It means setting a limit to protect yourself in relationships. For example, "If you show up with coke, I'm leaving," or "Unless you stop yelling at me, I'm walking out." Saying "no" is an important skill for setting boundaries. At a deeper level, setting boundaries is a way of conveying that both people in a relationship deserve care and attention. It is a healthy way of respecting your separate identity.
</p>
<h3>SITUATIONS WHERE YOU CAN LEARN TO SAY "NO"</h3>
<ul>
	<li>Refusing drugs and alcohol.</li>
	<li>Pressure to say more than you want to.</li>
	<li>Going along with things that you do not want to do.</li>
	<li>When you're taking care of everyone but you.</li>
	<li>When you do all the giving in a relationship.</li>
	<li>When you make promises to yourself that you do not keep.</li>
	<li>When you're doing things that take your focus away from recovery.</li>
</ul>
<P> <em>* Any others that you notice? Write them on the back of the page.</em></P>

<h3>EXAMPLES: SAYING "NO" IN SUBSTANCE ABUSE AND PTSD</h3>
 <table>
      <tr>
        <th></th>
        <th>with Others</th>
        <th>With Yourself</th>
      </tr>
      <tr>
        <td><b>Substance Abuse</b></td>
        <td>
        "No thanks; I don't want any now." <br>
        <hr>
        "Drinking is not allowed on my diet."
    </td>
        <td>
        	"Self-respect means no substances today." <br>
        	<hr>
        	"If anybody offers me drugs at the party, I need to leave."

        </td>
      </tr>
      <tr>
        <td><b>PTSD</b></td>
        <td>
        "I need you to stop talking to me like that." <br>
        <hr>
        "Please don't call me again."

    </td>
        <td>
    	   "Working as a prostitute is making my PTSD worse; I need to stop." <br>
    	   <hr>
    	   "Seeing war movies is triggering my PTSD; I need to stop."
        </td>
      </tr>
    
    </table>
<h3>HOW TO SAY "NO"</h3>
<p><b><em>* Try different ways to set a boundary:</em></b></p>
<ul>
	<li>Polite refusal: "No thanks, I'd rather not."</li>
	<li>Insistence: "No, I really mean it, and I'd like to drop the subiect."</li>
	<li>Partial honesty: "I cannot drink because I have to drive."</li>
	<li>Full honesty: "I cannot drink because I'm an alcoholic."</li>
	<li>Stating consequences: "If you keep bringing drugs home, I will have to move out."</li>
</ul>
<p>
<b>	<em>* Remember that it is a sign of respect to say "no." </em></b>Protecting yourself is part of developing self-respect.
Rather than driving people away, it helps them value you more. You can be vulnerable without being exploited. You can enjoy relationships without fearing them. In healthy relationships, saying "no" appropriately promotes closeness.
</p>

<p>
<b><em>* How much or how little you say is up to you.</em></b> However, if you can comfortably provide an explanation, this can make it easier on the other person.
</p>
<p>
<b><em>* You will find the words if you are motivated to say "no."</em></b> Once you commit to protecting your needs, the how will present itself.
</p>
<p>
<b><em>* Take care of yourself; let others take care of themselves.</em></b> You can only live your life, not theirs.
</p>
<p>
<b><em>* If you are afraid of hurting the other person,</em></b> remember that it may take repeated work, both with the other person and within yourself. Over time, you will realize that healthy people can tolerate hearing what you think and feel.
</p>
<p>
<b><em>* You can set a boundary before, during, or after an interaction with someone.</em></b> Try discussing a difficult topic beforehand (e.g., discuss safe sex before a sexual encounter), during an interaction (e.g., try saying "no" to alcohol when it is offered), or afterward (e.g., go back and tell someone you did not like being talked to abusively).
</p>
<p>
<b><em>* Be careful about how much you reveal.</em></b> PTSD and substance abuse are sensitive topics, and discrimination against these disorders is very real and harmful. You can never take back a statement once it has been said. You do not need to be open with people you do not know well, people in work settings, or people who are abusive to you.
</p>
<p>
<b><em>* Be extremely careful if there is a possibility of physical harm.</em></b> Seek professional guidance.
</p>

<h3>ROLE PLAYS FOR SAYING "NO"</h3>
<p>
<em>* Try rehearsing the following situations out loud. What could you say?</em>
</p>
<p><b>With Others</b></p>
<ul>
	<li>You are at a holiday party and your boss says, "Let's celebrate! Have a drink!"</li>
	<li>Your partner says you should "just get over your trauma already."</li>
	<li>A friend tells you not to take psychiatric medications because "that's substance abuse too.</li>
	<li>Your sister wants to know all about your trauma, but you don't feel ready to tell her.</li>
	<li>Your partner keeps drinking around you, saying "You need to learn to deal with it."</li>
	<li>Your date says, "Let's go to my place," and you don't want to.</li>
	<li>Your boss gives you more and more work, and it's too much.</li>
	<li>You suspect that your uncle is abusing your daughter.</li>
</ul>

<p><b>With Yourself</b></p>
<ul>
	<li>You want to have "just one drink."</li>
	<li>You keep taking care of others but not yourself.</li>
	<li>You promised to stop bingeing on food but keep doing it.</li>
	<li>You are working too many hours, with no time left for recovery activities.</li>
</ul>

<h3>
Too Much Distance: Learning to Say "Yes" in Relationships
</h3>
<hr class="fade">
<p>
<b>Why is it important to say "yes"?</b> It means connecting with others. It is a way of recognizing that we are all human and all need social contact. It is a healthy way of respecting your role as part of a larger community. It means becoming known to others.
</p>
<h3>SITUATIONS WHERE YOU CAN LEARN TO SAY "YES"</h3>
<ul>
	<li>Asking someone out for coffee.</li>
	<li>Telling your therapist how you really feel.</li>
	<li>Asking someone for a favor.</li>
	<li>Joining a club or organization.</li>
	<li>Calling a hotline.</li>
	<li>Being vulnerable about your "weak" feelings.</li>
	<li>Letting people get to know you.</li>
	<li>Soothing "young" parts of yourself.</li>
</ul>
<p>
<em>* Any others that you notice? Write them on the back of the page.</em>
</p>
<h3>
EXAMPLES: SAYING "YES" IN SUBSTANCE ABUSE AND PTSD
</h3>
<table>
      <tr>
        <th></th>
        <th>with Others</th>
        <th>With Yourself</th>
      </tr>
      <tr>
        <td><b>Substance Abuse</b></td>
        <td>
        "I am having a drug craving-please help talk me through it." <br>
        <hr>
        "Please come with me to an AA meeting."
    </td>
        <td>
        	"I can give myself treats that are healthy
Abuse rather than destructive." <br>
        	<hr>
        	"I will try speaking at an AA meeting."

        </td>
      </tr>
      <tr>
        <td><b>PTSD</b></td>
        <td>
        "I need your help-I am scared." <br>
        <hr>
        " would like you to call and check in on me to see if l'm okay."

    </td>
        <td>
    	   "I need to reach out to people when I'm upset." <br>
    	   <hr>
    	   "I can start creating healthy friendships step by step."
        </td>
      </tr>
    
    </table>


<h3>HOW TO SAY "YES"</h3>
<p>
	<b><em>* Try different ways:</em></b>
</p>
<ul>
	<li>Share an activity: "Would you like to go to a movie with me?"</li>
	<li>Say how you feel: "I feel so alone; it is hard for me to talk about this."</li>
	<li>Focus on the other person: "Tell me about your struggles with cocaine."</li>
	<li>Watch how others do it: Go to a gathering and listen to others relate.</li>
</ul>
<p>
<b>* Plan for rejection.</b> Everyone gets rejected at times. It is a normal part of life. Let go of that person and move on to someone else who might be available.
</p>
<p>
<b>* Practice in advance, if possible.</b> Therapy may be a safe place to rehearse.
</p>

<p>
<b>* Choose safe people.</b> Select people who are friendly and supportive.
</p>
<p>
<b>* Know that it's normal to make mistakes along the way.</b> It will feel uncomfortable to reach out to others at first. Allow yourself room to grow-it will get easier over time.
</p>
<p>
<b>* Set goals.</b> Keep yourself moving forward by making a clear plan, just as you would in other areas of your life.
Decide to make one social call a week, or try one new meeting a week.
</p>
<p>
<b>* Recognize that you may feel very "young."</b> Parts of you may feel vulnerable, like a child who is just learning how to relate to people. That is expected, as parts of you may not have had a chance to develop due to PTSD or substance abuse.
</p>
<p>
<b>* Start small.</b> Start with a simple event (e.g., saying hello or smiling) rather than a huge one (e.g., asking someone out on a date).
</p>
<p>
<b>* Notice what you have in common rather than how you are different.</b> Work hard to see your similarities with others; this can make it easier to connect.
</p>
<h3>
ROLE PLAYS FOR SAYING "YES"
</h3>
<p><em>* Try rehearsing the following situations out loud.</em></p>
<p><b>With Others</b></p>
<ul>
	<li>You talk about your impulse to hurt yourself before doing it.</li>
	<li>You ask someone at work to go to lunch.</li>
	<li>You tell your therapist you missed her when she was away on vacation.</li>
	<li>You call your sponsor when you feel like drinking.</li>
	<li>You tell someone, "I love you."</li>
	<li>You tell someone how alone you feel.</li>
	<li>You admit a weakness to someone.</li>
	<li>You talk to your friend honestly about your anger at him.</li>
	<li>It is 4:00 A.M. and you are so depressed you can't sleep. Whom can you call?</li>
	<li>The weekend is coming and you have no plans with anyone. What can you do?</li>
</ul>
<p><b>With Yourself</b></p>
<ul>
	<li>You feel scared; how can you soothe yourself?</li>
	<li>You have worked hard; how can you give yourself a safe treat?</li>
	<li>Part of you ("the child within") feels hurt. How can you talk to that part?</li>
	<li>You are angry at yourself for failing a test. How can you forgive yourself?</li>
</ul>

<h2>
Getting Out of Abusive Relationships
</h2>
<hr class="fade">
<p>
	<em>Are vou in any relationship right now in which someone:</em>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
</p>
<ol>
	<li>
		Offers you substances or uses in your presence after you've asked the person not to?
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
	</li>
	<li>
	Repeatedly criticizes you, invalidates your feelings, or humiliates you?
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
</li>
	<li>
	Manipulates you (e.g., threatens to harm your children)?
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
</li>
	<li>
		Is physically hurting you or threatening to? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
	</li>
	<li>
	Discourages you from getting help (e.g., medication, therapy, AA)?
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
</li>
	<li>Lies to you repeatedly? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No</li>
	<li>
	Betrays your trust (e.g., tells your secrets to others)?
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
</li>
	<li>
	Makes unreasonable requests (e.g., demands that you pay for everything)?
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
</li>
	<li>
		Exploits you (e.g., sells pornographic pictures of you)?
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
	</li>
	<li>
	Ignores your physical needs (e.g., refuses safe sex)?
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
</li>
	<li>
	Is controlling and overinvolved (e.g., tells you what to do)?
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; No
</li>
</ol>
<p>
<em>If you said "Yes" to any of the questions above, read the rest of this handout. You deserve better than destructive people!</em>
</p>
<h3>
HOW TO DETACH FROM DAMAGING RELATIONSHIPS
</h3>
<p>
If you have difficulty with boundaries, you may not notice dangerous cues in others. This makes sense if you lived in a past in which a veil of silence was imposed, you were not allowed to express your feelings, or you could not tell others about your trauma. You may need to make special efforts now to notice your reactions to people and to learn when to end relationships that are hurtful.
</p>
<p>
<b> If someone doesn't "get it," give up for now.</b> In early recovery, don't waste your energy on changing other people; just focus on helping yourself. If someone doesn't understand you after you've tried to communicate directly, kindly, and repeatedly, find other people.
</p>
<p>
 <b>Even if you cannot leave a damaging relationship, you can still detach from it.</b> If it is someone you must see (such as a family member), protect yourself by not talking to that person about vulnerable topics, such as your trauma or your recovery.
</p>
<p>
<b> If enough reasonable people tell you a relationship is bad, listen to them.</b> You may feel so confused or controlled that you have lost touch with your own needs. Listen to others.
</p>

<p>
+ It's better to be alone than in a destructive relationship. It may be that for now, your only safe relationships are with treaters. That's okay.
</p>
<p>
+ Destructive relationships can be as addictive as drugs. If you cannot stay away from someone you know is bad for you, you may be addicted to that person. Destructive relationships may feel familiar, and you may be drawn to them over and over if your main relationships in life were exploitative. The best strategy is the same as for all addictions: Actively force yourself to stay away, no matter how hard it feels to do so.
</p>
<p>
1 Remember that you are no longer a child, forced to endure bad relationships. You have choices.
</p>
<p>
4 Recognize the critical urgency of detaching from bad relationships. They impair your recovery from
PTSD and substance abuse. They prevent you from taking care of yourself and others (e.g., children).
</p>
<p>
1 Once you make a decision to leave a damaging relationship, the "how" will present itself. If you do not know how to leave, it usually means that you have not yet made the decision to leave.
</p>
<p>
1 If you feel guilty, remember that it is your life to live. You can decide how to live it.
</p>
<p>
Expect fallout. When you leave a bad relationship, others may become angry or dangerous. Find ways to protect yourself, including the support of people "on your side," your treatment team, and a shelter if necessary.
</p>
<p>
+ You do not have to explain yourself to the other person; you can just leave.
</p>
<p>
4 Create an image to protect yourself. For example, you are a knight in armor and you don't have to let the person in; you are a TV and you can change the channel.
</p>
<p>
4 Try Co-Dependents Anonymous. This is a twelve-step group for people who become dependent on damaging relationships (# 602-277-7991)
</p>
<p>
| You should never have to tolerate being physically hurt by anyone. If you are in a situation of domestic violence, this is very serious and requires expert help. You can call:
</p>
<ul>
	<li>
	National Domestic Violence Hotline&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;800-799-7233
</li>
	<li>
	National Resource Center on Domestic Violence&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;800-537-2238
</li>
</ul>
<p>
4 If someone is physically hurting you, don't buy into "I'll be different next time." If there is a pattern of abuse after you have given someone repeated chances to treat you decently, get out. Listen to the person's ac-tions, not the words.
</p>
<p><b><em>* Take care of yourself! *</em></b></p>


HANDOUT 5
Setting Boundaries in Relationships
Boundary Problems Associated with PTSD and Substance Abuse
Note: Some people become upset when reading the list below. Only read it if you feel safe to do so, and stop if it is too upsetting.
People with PTSD and substance abuse may be prone to boundary problems, such as the following:
• Extremes: trusting too much or too little; isolation or enmeshment.
• Relationships that are brittle (easily damaged, fragile).
• Tolerating others' flaws too much; doing anything to preserve the relationship.
• Use of substances as an attempt to connect with others.
• Avoiding relationships because they are too painful.
• Overcompliance at times; too much resistance at other times.
• Always being the one to give.
• Spending time with unsafe people.
• Not seeing the hostility in others' words or actions.
• Being overly angry, with a hair-trigger temper; often ready to "blow up."
• Difficulty expressing feelings; expressing them in actions rather than words (acting out).
• May respect men for being "strong" and disrespect women for being "weak."
• Feeling that one can never get over a loss; not knowing how to mourn; fear of abandonment.
• Difficulty getting out of bad relationships.
• Confusion between fear and attraction (ie., feeling excited when it is really fear).
Relationships with people who use substances.
• Living for someone else rather than yourself.
• Manipulation: guilt, threats, or lying.
Reenactments: getting involved in repeated destructive relationship patterns (e.g., recreating the trauma roles of abuser, bystander, victim, rescuer, or accomplice).
• "Stockholm Syndrome": feeling attachment and love for the abuser.
• Wanting to be rescued; wanting others to take responsibility for the relationship.
• Confusion about what is appropriate in relationships: What can one rightly expect of others? When should a relationship end? How much should one give in a relationship? Is it okay to say "no" to others?
• "Identification with the aggressor": believing the abuser is right.
Acknowledgment. This handout is drawn largely from Herman (1992). Ask your therapist for guidance if you would like to locate the source.

Setting Boundaries in Relationships
Ideas for a Commitment
Commit to one action that will move your life forward!
It can be anything you feel will help you, or you can try one of the ideas below.
Keeping your commitment is a way of respecting, honoring, and caring for yourself.
* Option 1: In a real-life situation this week, try setting a boundary with either yourself or someone else.
+ Option 2: Memorize your top three ways to say "no" to substances.
+ Option 3: Pick a role play from Handout 2 or 3, and write out how you would handle it.
+ Option 4: Fill out the Safe Coping Sheet. (See below for an example applied to this topic.)
EXAMPLE OF THE SAFE COPING SHEET APPLIED TO THIS TOPIC
Situation
Old Way
My mother keeps criticizing my decisions.
New Way
My mother keeps criticizing my decisions.
* Your Coping *
I get overwhelmed and resentful. I just let her talk at me until she's done.
Sometimes I go out afterwards and smoke crack so I can get a "holiday" from her.
I set a boundary by asking her to stop criticizing me-it is hurting my recovery, and I cannot listen to it right now and will leave the room if necessary.
Consequence
I feel walked over. I know the crack is destroying my body and my bank account.
I feel better, like I've taken control. She seemed surprised and didn't like hearing it, but it was okay.
How safe is your old way of coping?
How safe is your new way of coping?
Rate from 0 (not at all safe) to 10 (totally safe)
From Seeking Safety by Lisa M. Najavits (2002). Copyright by The Guilford Press. Permission to photocopy this form is granted to purchasers of this book for personal use only (see copyright page for details).
281

</article>
</section>