<section class="main-section" id="week1">
	<header>Week 1</header>
	<h1>Introduction</h1>
	<hr class="fade">
	<article>

		<blockquote>
			"It's never too late to be
			<br> what you might have been."


			<span>   
				—George Eliot
			</span>
			<span>(19th-century British writer)</span>
		</blockquote>

<h2>
About the Seeking Safety Treatment
</h2>
<hr class="fade">
<h3>
WHAT IS THE SEEKING SAFETY TREATMENT?
</h3>
<p>
This treatment is designed for people with substance abuse and trauma. "Trauma" means that a person has suffered a severe life event, such as physical or sexual abuse, a car accident, or a hurricane. Many men and most women who abuse substances have experienced a trauma during their lifetime. Some people develop posttraumatic stress disorder (PTSD) as a result of their trauma; you will learn more about this during treatment.
</p>
<p>
The treatment consists of 25 psychotherapy topics. It is an "integrated" treatment, meaning that both trauma and substance abuse issues are worked on at the same time to promote the most successful recovery possible. It was developed at Harvard Medical School and McLean Hospital beginning in 1993, with funding by the National Institute on Drug Abuse.
</p>
<h3>
WHY IS IT CALLED SEEKING SAFETY?
</h3>
<p>
The #1 goal of the treatment is to help you become safe. "Safety" includes the ability to:
</p>
<ul>
	<li>Manage trauma symptoms (such as flashbacks, nightmares, and negative feelings).</li>
	<li>
	Cope with life without the use of substances.		
	</li>
	<li>
	Take good care of yourself (such as getting regular medical exams and eating well).		
	</li>
	<li>
	Find safe people who can be supportive to you.	
	</li>
	<li>
	Free yourself from domestic violence or other current abusive relationships.		
	</li>
	<li>
	Prevent self-destructive acts (such as cutting, suicidal impulses, and unsafe sex).		
	</li>
	<li>
	Find ways to feel good about yourself and to enjoy life.		
	</li>
</ul>
<p><em>You may want to start thinking about what safety means to you.</em></p>
<h4>
FINDING SELF-RESPECT
</h4>
<p>
Many people who have PTSD and substance abuse-especially if these have gone on for a long time-find it hard to like themselves. You may feel that you have never really gotten to know yourself, or that you have lost yourself somewhere along the way. This treatment seeks to help you understand yourself, to develop a new identity as someone who can cope successfully with life, and to respect who you are.
</p>
<h4>
WHAT WILL BE COVERED IN THE TREATMENT?
</h4>
<p>
Each topic will focus on a specific strategy to help you cope with trauma and substance abuse. Examples of topics are Honesty; Asking for Help; Setting Boundaries in Relationships; Taking Good Care of Yourself; Compassion; Recovery Thinking; Creating Meaning; Self-Nurturing; Respecting Your Time; Getting Others to Support Your Recovery; and Community Resources:
</p>
<p>
The treatment is evenly divided among behavioral, cognitive, and interpersonal topics. "Behavioral" refers to your actions; "cognitive" refers to your thinking; and "interpersonal" refers to your relationships. Because of the focus on thinking and actions, the treatment is called "cognitive-behavioral." This type of psychotherapy was originally developed by Dr. Aaron Beck at the University of Pennsylvania. Previous research has shown that cognitive-behavioral treatments can be helpful for a variety of psychological problems, including depression, anxiety, and substance abuse.
</p>

<h4>
WHAT IS THE FORMAT OF THE SESSIONS?
</h4>
<p>
Each treatment session is structured to make the most of the time available.
</p>
<ol>
	<li>
		 Check-in. At the start of each session, you will be asked five questions: "How are you feeling?", "What good coping have you done?"
"Any substance use or other unsafe behavior?",
"Did you complete your commitment?"
and "Community resource update?" (Some of these terms may be unfamiliar to you, but they will become clear.)
	</li>
	<li>
		 Handout. You will be given a written sheet that summarizes the main points of the topic.
	</li>
	<li>
		Discussion/practice. Most of the session will be spent discussing the session topic. For example, we will discuss how the topic relates to your life, and ways in which to apply the concept to current problems you have. Also, several topics have exercises in which you will have the opportunity to practice a new strategy, such as role plays, or an in-session practice exercise. Your participation will always be voluntary, so you can just watch if you prefer that.
	</li>
	<li>
		Check-out. At the end of the session, you will be asked to describe your views of the session. Also, you will be asked to name one action you can commit to before the next session. This is to help you move forward in your life as quickly as possible. It will always be up to you to decide what you want to commit to, but the therapist can help you think of options. Examples might include trying to ask someone in your life for help; calling up a hotline if you feel in distress; writing about your feelings; getting an HIV test; or doing something fun every day for a week.
	</li>
</ol>
<h4>
WHAT IF I MISS A SESSION?
</h4>
<p>
If you miss a session, you can call to have the session material mailed to you. Or you can pick it up at the next session (or in advance if you know you'll be away). The goal is to help you get the most from this treatment! Please try, how-ever, to be here for every session.
</p>
<h4>
WILL I BE TERMINATED FROM TREATMENT FOR USING A SUBSTANCE?
</h4>
<p>
No. The goal is to help you attain abstinence; however, the approach is to try to help you learn from mistakes and understand better what motivates the choices you make. You will not be terminated from treatment for using sub-stances. You would only be prevented from returning to treatment if you present a serious danger to staff or patients (e.g., assault, selling drugs).
</p>
<h4>
WILL I GET A CHANCE TO TALK ABOUT MY TRAUMA?
</h4>
<p>
Yes, but the aim will be to talk about the impact of your trauma on your current life. Sometimes people want to talk a lot about the past, but then are unable to manage overwhelming feelings and memories that come up. Our goal is to help you establish safety first and to learn strategies to cope with intense negative feelings. Once you have mastered these, you can-and should-move on to talking in depth about the past. These guidelines are particularly true if you are in a group treatment, because details about past traumas (and, similarly, "war stories" about substance use) can be too upsetting to other patients. If you are in group treatment, it is strongly recommended that you participate in individual therapy at the same time so that you will have a place to talk about the past if you want to.
</p>
<h4>
WILL I HAVE URINE/BREATHALYZER TESTING?
</h4>
<p>
You may be asked to agree to urine and/or breathalyzer testing as part of this treatment. This is the best way for the therapist to know what is truly going on. Unfortunately, part of the problem with substance abuse is that it can lead to lying, even among people who are generally trustworthy. Years of experience in substance abuse treatment suggest that urine testing promotes the best possible care of patients. And many patients say that they feel more able to 
give up substances when they know they'll be tested. Some patients with trauma histories may have particular concerns about urine testing (e.g., that it will "trigger" them into painful memories of abuse, or will feel demeaning).
However, a study of this treatment found that virtually all patients were able to do just fine with urine testing once they tried it, and as long as the results were kept confidential.
</p>
<h4>
WHAT IF I DON'T LIKE PARTS OF THE TREATMENT?
</h4>
<p>
The best thing to do is to tell your therapist. Be honest about your comments-it can help to get your needs met, and also to improve the treatment program. Also, at the end of every session, you may be asked to fill out a brief questionnaire about the session. The more comments you make, the more the treatment can be made helpful to you and to other patients in the future! All of your comments will be kept confidential. If you have any concerns about the therapist, the first step is to tell the therapist directly; you can also talk to his or her supervisor, if there is one.
</p>
<h4>
WHO DEVELOPED THE TREATMENT?
</h4>
<p>
The treatment was developed by Lisa Najavits, PhD. She is Associate Professor of Psychiatry (Psychology) at Harvard Medical School; an author of over 60 publications; and recipient of the Chaim Danieli Young Professional Award from the International Society for Traumatic Stress Studies (1997) and the Early Career Award from the Society for Psychotherapy Research (1998). She is principal investigator on several research studies funded by the National Institutes of Health; past president of the New England Society for Behavior Analysis and Therapy (1998); and on the boards of advisors for the journals Psychotherapy Research, the Journal of Traumatic Stress, and Clinica/ Psychology:
Science and Practice. She is director of the Trauma Research Program in the Alcohol and Drug Abuse Treatment Center at McLean Hospital (Belmont, MA), is a psychotherapy supervisor, and conducts a psychotherapy practice. She received her PhD in clinical psychology from Vanderbilt University and her bachelor's degree from Columbia University.
You may also be interested to know that she had PTSD after a crime victimization in 1987. If you have comments about this treatment, you can contact her program by phone <a href="tel:+6178552305">(617-855-2305)</a> 
or <a href = "mailto: Lnajavits@hms.harvard.edu">Lnajavits@hms.harvard.edu</a>.
</p>
<h4>
WHAT HAS RESEARCH SHOWN SO FAR ABOUT THIS TREATMENT?
</h4>
<p>
This is the first treatment for PTSD and substance abuse that has undergone scientific testing. Based on a sample of 17 patients who participated in a study on the treatment, results showed significant improvements in substance use, trauma-related symptoms, suicide risk, suicidal thoughts, social adjustment, family functioning, problem solving, de-pression, thoughts about substance use, and knowledge related to the treatment. Positive results have also been found in three other studies thus far: a study of women in prison, a study of inner-city women, and a study of men.
The treatment and the initial research on it are summarized in the following articles:
</p>
<p>
	<em>
Najavits, L. M., Weiss, R. D., & Liese, B. S. (1996). Group cognitive-behavioral therapy for women with PTSD and substance use disorder. Journal of Substance Abuse Treatment, 13, 13-22.
</em>
</p>
<p>
	<em>
Najavits, L. M., Weiss, R. D., & Shaw, S. R. (1997). The link between substance abuse and posttraumatic stress disorder in women: A research review. American Journal on Addictions, 6(4), 273-283.
</em>
</p>
<p>
	<em>
Najavits, L. M., Weiss, R. D., Shaw, S. R., & Muenz, L. (1998). "Seeking Safety": Outcome of a new cognitive-behavioral psychotherapy for women with posttraumatic stress disorder and substance dependence. Journal of Traumatic Stress, 11, 437-
456.
</em>
</p>

<h3>
How to Get the Most from This Treatment
</h3>
<p>
It is possible to recover from both PTSD and substance abuse, and this treatment is designed to help you do that.
However, this treatment cannot work without you. Therefore:
</p>
<p>
<b>* Notice your strengths.</b> Keep actively recognizing your strengths, talents, and abilities. At each session you will be asked to tell at least one example of something you did well (good coping) since the previous session.
No one gets anywhere by putting oneself down.
</p>
<p>
<b>* Be honest.</b> Lies and secrecy often accompany PTSD and substance abuse, but honesty is the path to recov-ery. In your treatment, be honest about everything: your substance use, your true feelings (both negative and positive), and your reactions to the therapist.
</p>
<p>
<b>* Safety above all.</b> The highest priority is staying safe. In fact, for both trauma and substance abuse, there are several phases of healing. Right now you are in the first stage, establishing safety: getting off all sub-stances, staying alive and not hurting yourself, locating a network of supportive people, learning to cope with day-to-day problems.
</p>
<p>
<b>* Show up, no matter what.</b> Sometimes you may not want to come to treatment. You may have used a substance and feel ashamed. You may be so depressed that you don't want to get out of bed. Come to treatment anyway. Keep reaching out for the help that is available to you. You can talk about your mixed feelings in the session.
</p>
<p>
<b>* Stay focused on your own goals.</b> Do not compare yourself to other people. You are fighting your own battle. Whether others are doing better or worse does not matter.
</p>
<p>
<b>* Participate.</b> The more you put into something, the more you will get out of it. Work your very hardest-100%. Listen, learn, speak up, read the materials, and try the new strategies being taught. These efforts will pay off!
</p>
<p>
<b>* Complete commitments between sessions.</b> You will be asked to make a commitment between each ses-sion, to move forward in your recovery. It is up to you what you select, but once you make a commitment, it is important to keep it. Research shows that patients who complete assignments outside of sessions improve three times as much as patients who do not.
</p>
<p>
<b>* Free yourself from substance use.</b> Substances block your feelings and prevent the emotional work needed to recover; they also block your general growth and emotional development. While you may have mixed feelings about giving up substances (a natural reaction at first), keep talking about it in treatment, and keep aiming for freedom from all substances. You will feel more powerful, stronger, and better about yourself. Even if you cannot or do not want to give up substances, come to treatment anyway to obtain help with other problems in your life that you want to work on.
</p>
<p>
<b>* Know that you may feel worse before you feel better.</b> As you stop using substances, you will notice many changes. Some may be wonderful (e.g., increased energy), while others may be difficult (e.g., more depression, physical problems) Hang in there, and these symptoms will go down eventually. "The only way out is through."
</p>
<h3>
Practical Information about Your Treatment
</h3>
<hr class="fade">
<ol>
	<li>Therapist's name: <hr></li>
	<li>Schedule of sessions: <hr></li>
	<li>Location of sessions: <hr></li>
	<li>
		If you need to reach the therapist for nonemergency reasons, please call the following number and the therapist will return your call within _ hours: <hr>
	</li>
	<li>
		& If you cannot attend a session, please be sure to leave a message at: <hr>
	</li>
</ol>
<h4>
EMERGENCY PROCEDURES
</h4>
<p><em>It is extremely important to reach out for help in an emergency!</em></p>
<p>
<b> What is an emergency?</b> It is any situation in which you feel you are in serious danger of killing yourself or harming anyone else (e.g., children); or any other experience of extreme symptoms for which you need immediate psychiatric help (severe hallucinations, "mental breakdown," etc.).
</p>
<ul>
	<li>Name and phone number of <b>primary person to contact in a psychiatric emergency:</b></li>
	<li>
	If you need to reach <b>the therapist for this treatment in an emergency, call:</b>		
	</li>
	<li>
	<b>If you cannot reach anyone,</b> go to your nearest hospital emergency room, which is:		
	</li>
	<li>
	Other emergency procedures:		
	</li>
</ul>

<h4>
OTHER IMPORTANT SITUATIONS IN WHICH TO CALL FOR HELP
</h4>
<p><em>I If you feel in danger of using a substance, please call:</em></p>
 <ul>
 	<li>
 		AA sponsor: <hr>
 	</li>
 	<li>
 	Other person(s): <hr>		
 	</li>
 	<li>
 	 Hotline: <hr>		
 	</li>
 </ul>
<p><em>If you feel in danger of self-harm (e.g., cutting, burning), please call:</em></p>
<ul>
	<li>Hotline: <hr></li>
	<li>
	Other person (s): <hr>		
	</li>
</ul>
<p>
<b> Please rehearse ahead of time with the person you will call:</b> (1) what you will say; (2) what the other person will say. Be sure to let the person know in advance how to be the best help to you.
</p>
<p><em>I agree that / need to stay safe, and I agree to all of the above safety procedures.</em></p>
<p>Patient signature <hr></p>
<p>Therapist signature <hr></p>
<p>Date <hr></p>

<h4>Useful Phone Numbers</h4>

<p>

<b>Access Team:</b> <br>
The Access Team initiates services for Sonoma County Behavioral Health, Community Mental Health Centers and the Older Adult Team. -  <a href="tel:7075656900">(707)565-6900</a>
</p>
<p>

<b>Al-Anon/ Alateen (24 Hour Hotline):</b> - <a href="tel:7075756760">(707) 575-6760</a>
</p>

<p>
<b>Consumer Education & Affairs: - (707)565-7809</b>
</p>
<p>
	<b>CSU (Crisis Stabilization Unit - 24 Hours):</b>
Anyone living in Sonoma County who is having a metal health crisis can get help 24 hours a day, seven days a week
- (707)576-8181 
</p>

<p>
<b>Human Services (General Assistance, Food Stamps, Medi-Cal):</b>
Human Services providesbenefits for those in need, and strives to protect and improve the well-being of indivduals and families - (707)565-2715
</p>

<p>
<b>inRESPONSE:</b> <br>
707-575-HELP (4357) For a mental health crisis.
<br>
707-204-9756, inRESPONSE@scity.org & scity.org/3627/inRESPONSE-Mental-Health-Support-Team for more information.
The inRESPONSE team will respond to calls in which individuals are experiencing a mental health crisis in Santa Rosa and are unarmed.
</p>

<p>
<b>Interlink Self Help Center:</b>
Interlink Self-Help Center is open to all community members 18 years of age and over, they offer support for self-directed mental health recovery, and wellness. - (707)546-4481
</p>

<p>
<b>Information and Referral Search:</b>
Provides free and confidential information and referral for counseling, healthcare, food, housing and employment - 2-1-1
</p>

<p>
<b>NAMI Warmline:</b>
The NAMi Warmline is available Monday through Friday 9am-5pm. Speak with a trained ally, develop a plan, get resources and find a path towards recovery. - (866)960-6264
</p>

<p>
<b>Petaluma Peer Recovery Center:</b>
Petaluma Peer Recovery Project runs Monday, Wednesday and Thursday 10am-3pm.
(707)565-1299
</p>

<p>
<b>Russian River Empowerment Center:</b>
Russican River Empowerment Center is available to adults Monday through Friday 11:30am-4:30pm. They offer counseling, supprt, crisis management, variety of workshops etc. - (707)823-1604 Ext. 207
</p>

<p>
<b>Social Security Office (Benefits):</b>
1-877-870-6384 or 1-877-890-8459
</p>
<p>
<b>SOS Community Counseling Center:</b>
Provides counseling services in Sonoma County to individuals, couples, families, and youth both in schools and community clinics. - (707)284-3444
</p>

<p>
<b>Suicide Prevention 24 Hour Hotline (North Bay):</b> - (855)587-6373
</p>

<p>

<b>Suicide Prevention & Crisis Intervention:</b> - (800)764-8181
</p>

<p>
<b>Verity (Crisis Line): </b> 
Crisis line and support for victims of sexual assault - (707)545-7273
</p>

<p>
<b>Wellness and Advocacy Center:</b>
Wellness and Advocacy Center is self-help, drop-in center for people with mental health challenges in Sonoma County.
They offer various resources, peer programs, support groups, art and computer workshops etc.
- (707)565-7800
</p>
<p>
Compiled by: Buckelew Programs, Family Service Coordination- www.buckelew.org
</p>
<hr class="fade">
<div class="inresponse-info">
	<a href="https://www.srcity.org/3627/inRESPONSE-Mental-Health-Support-Team" target="_blank">
	<h2>inRESPONSE Mental Health Support Team</h2>
	</a>
	<section>
		<%= image_tag 'inresponse.png' %>
	</section>
</div>
<hr class="fade">
<div class="now-matternow">
	
	<h4>Emotional Fire Safety Plan</h4>

	 <p>
	 	Open a PDF file
	 	 <a href="../images/0.-NowMattersNow.org-Safety-Plan-Website-Version.pdf" target="_blank">example</a>.
	 </p>
</div>
<hr class="fade">
<div class="book-list">
	<h4>Seeking Safety Program Book List</h4>
	<% link_to 'https://www.audible.com/pd/The-Body-Keeps-the-Score-Audiobook/0593412702?source_code=GPAGBSH0508140001&ipRedirectOverride=true&gclsrc=ds', target: "_blank" do %>
	<%= image_tag 'thebody-keeps.png' %>
	<% end %>
	<ul>
		<li>
			<a href="https://www.amazon.com/Conquering-Post-Traumatic-Stress-Disorder-Techniques/dp/1592333095" target="_blank">Conquering Post-Traumatic Stress Disorder:</a>
			The Newest Techniques for Overcoming Symptoms, Regaining Hope, and Getting Your Life Back.
			Beckner, Victoria and Arden, John. 2008. Fair Winds Press.
		</li>
		<li>
			<a href="https://www.amazon.com/Trauma-Recovery-Aftermath-Violence-Political/dp/1541602951/ref=asc_df_1541602951/?tag=hyprod-20&linkCode=df0&hvadid=632068171885&hvpos=&hvnetw=g&hvrand=15865352177810088098&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1013962&hvtargid=pla-1889611438463&psc=1&mcid=eb719d105961374cb09c75207da3409e&gclid=CjwKCAiAvJarBhA1EiwAGgZl0AMS54i_x-6L4LrZYqqvSI6FmAnPmu96-nuyCTmjpXRAYbrNjbwKoBoCBiQQAvD_BwE" target="_blank">Trauma and Recovery:</a>
			The Aftermath of Violence-from Domestic Abuse to Political Тегтог. Herman, Judith. 1992. Basic Books.
		</li>
		<li>
			<a href="https://www.amazon.com/Waking-Tiger-Healing-Peter-Levine/dp/155643233X/ref=asc_df_155643233X/?tag=hyprod-20&linkCode=df0&hvadid=312021251979&hvpos=&hvnetw=g&hvrand=18220120206021604305&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1013962&hvtargid=pla-436402731263&psc=1&mcid=357ad63788bf3272bf7167e5f6022227&gclid=CjwKCAiAvJarBhA1EiwAGgZl0Mxpdvtips_Hh5JNHIukNlt1X9NudHu7hz4dDtxpeceQ8guOg85IORoCBAYQAvD_BwE" target="_blank">Waking the Tiger:</a>
			Healing Trauma.
			Levine, Peter with Frederick, Ann. 1997. North Atlantic Books.
		</li>
		<li>
			<a href="https://www.amazon.com/Healing-Trauma-Pioneering-Program-Restoring/dp/159179658X" target="_blank">Healing Trauma:</a>
			A Pioneering Program for Restoring the Wisdom of Your Body.
			Levine, Peter. 2005. Sounds True, Inc.
		</li>
		<li>
			<a href="https://www.amazon.com/PTSD-Workbook-Effective-Techniques-Overcoming/dp/1572242825" target="_blank">The PTSD Workbook:</a>
			Simple, Effective Techniques for Overcoming Traumatic Stress Symptoms.
			Williams, Mary Beth and Poijula, Soili. 2002. New Harbinger Publications.
		</li>
	</ul>
</div>
<hr class="fade">
<div class="feeling-wheel">
	<h2>The Feeling Wheel</h2>
	<%= image_tag 'feeling-wheel.png' %>
</div>
<hr class="fade">
HANDOUT 4
Introduction to Treatment/Case Management
 
* The goal of this treatment is safety above all!
* I will try my very hardest to recover, including reading session materials, completing commitments between sessions, and reaching out for all help available to me.
+ I am always welcome back, even if I relapse.
+ The more I put into treatment, the more I'll get out of it.
* I understand that / may feel worse before I feel better, but that I should stick with treatment no matter what.
* Everything said in treatment will be kept strictly confidential. I am aware, however, that there are certain legal conditions where the therapist is obligated to release records: (1) if I am in serious danger of harming myself or others; (2) if child or elder abuse becomes known; or (3) if a court subpoenas the therapist's records.
* I will strive to be totally honest with the therapist about my substance use, my safety (including self-harm, suicidal impulses, and danger to others), and any negative reactions I have to the treatment or the therapist.
+ I will be on time for sessions, and will leave a message if I need to cancel.
lt arrive to a session intoxicated or high, the session will not be held. I will be escorted to a safe place (e.g., emergency room) until I can return home, or will be sent home with a friend or in a taxi.
* In an emergency, I will follow the written emergency instructions I have been given.
* Buying, selling, or using substances with another patient, or alone anywhere in or near this treatment office is a serious danger, and may lead to termination from this treatment.
• Urinalysis and/or breathalyzer testing O will I will not be conducted as part of this treatment. If conducted, it will be conducted as follows:
FOR GROUP TREATMENT ONLY
* I will not discuss details of trauma or substance use, to avoid upsetting other patients.
* I will strive to create an atmosphere of mutual respect (e.g., no interrupting others, no physical contact between group members).
* Contact with group members outside of sessions is discouraged unless it is reviewed with the therapist in ad-vance, to protect patients' boundaries.
* To help everyone feel safe, it is essential that nothing a patient says in session is ever repeated to anyone outside of the group.
The therapist, in return, agrees to conduct the highest-quality treatment possible, with respect and care, to help promote your recovery.
Patient signature
Therapist signature
Date
From Seeking Safety by Lisa M. Najavits (2002). Copyright by The Guilford Press. Permission to photocopy this form is granted to purchasers of this book for personal use only (see copyright page for details).
93

core concepts of Treatment
* Stay safe
* Respect yourself
* Use coping-not substances-to escape the pain
* Make the present and future better than the past
* Learn to trust
* Take good care of your body
* Get help from safe people
* To heal fully from PTSD, become substance-free
* If one method doesn't work, try something else
* Never, never, never, never, never, never, never, never give up!
From Seeking Safety by Lisa M. Najavits (2002). Copyright by The Guilford Press. Permission to photocopy this form is granted to purchasers of this book for personal use only (see copyright page for details).

The Brain and PTSD
Daniel Siegel, M.D., a foremost researcher on the relationship between the brain and the mind, uses the hand as a model for visualizing the brain.
With your elbow bent, tuck your thumb in against your palm and wrap your fingers over your thumb. Your forearm represents the spinal column, and the base of the palm is the more primitive part of the brain that governs our physical bodies. The thumb is the midbrain, in which emotions are experienced. The fingers represent the cortex, which is the seat of cognition, where our thoughts are formed. The middle two fingers represent the neocortex, a part of the thinking brain that makes judgments about our own thoughts and behaviors.
When a person experiences a trauma or traumas, the brain reacts at all levels. When neurons from the different areas fire together repeatedly, those connections become stronger. After a trauma, neurons fire in a rigid pattern. The way one experiences the trauma, physically, emotionally, and mentally, become rigidified.
Dr. Siegel explains that it is possible for our neuronal rigidity to soften, like when pouring warm water over a block of ice, and for our brains to rewire in new ways. This concept is referred to as neuronal plasticity. Dr. Siegel explains that neuronal plasticity is stimulated by such factors as emotional arousal, aerobic exercise, and meditation.
The treatment model that we are employing in this program uses writing as a method to unlock some emotions, while at the same challenging the thoughts and judgments we have about the trauma and what the trauma says about us. Participants in our program may find that embarking on a reasonable physical exercise routine while in the program could enhance the effectiveness of the program.
Siegel, D.J. (1999). The Developing Mind: Toward a Neurobiology of Interpersonal Experience. New York. Guilford Press.

Review
What is Posttraumatic Stress Disorder?
• PTSD is a group of symptoms, such as flashbacks, intrusive thoughts, nightmares, hypervigilance, difficulties with sleep, and relationships, etc., that happens to be a perfectly ordinary and normal reaction to an extraordinary event or trauma.
What is a traumatic event?
• involves actual or threatened death, serious injury, or sexual violence
• is an event you've experienced yourself, observed happening to another person, learned that it happened to someone close to you, or were repeatedly exposed to it through your job.
What are symptoms of PTSD?
• Intrusion Symptoms
• Arousal and Reactivity Symptoms
• Avoidance
• Negative Thoughts/Beliefs and Mood
Why does PTSD develop?
• The Two-Factor Model of PTSD and Prolonged Exposure
• Cognitive Model of PTSD and Cognitive Processing Therapy
SEEKING SAFETY PROGRAM
BOOK LIST



Safety
Ideas for a Commitment
Commit to one action that will move your life forward!
It can be anything you feel will help you, or you can try one of the ideas below.
Keeping your commitment is a way of respecting, honoring, and caring for yourself.
+ Option 1: Go through the list of Safe Coping Skills, checking off (v) the ones you already do, and putting a
star (*) next to the ones you want to learn.
+ Option 2: Start keeping a "journal of successes" (times that you coped safely, obstacles overcome, successes in resisting substance use, coping skills that you used).
+ Option 3: Create an "inspiration book" or "inspiration box" to inspire you to stay safe (including photographs of people you love, songs, poems, quotations, news clippings, etc.).
+ Option 4: Fold the list of Safe Coping Skills in half down the middle. Read the names of the skills on the left side and try to remember what each one means. Give yourself 1 point for each correct answer.
+ Option 5: Write a paragraph on what "safety" means to you.
+ Option 6: Try using one new skill this week from the list of Safe Coping Skills and write how it went.
+ Option 7: Fill out the Safe Coping Sheet. (See below for an example applied to this topic.)
EXAMPLE OF THE SAFE COPING SHEET APPLIED TO THIS TOPIC

Old Way
New Way
Situation
I
got laid off from work.
I
got laid off from work.
* Your Coping *
I feel like I can't cope-this is the last straw. I don't know what to do.
I
have money problems already, and this will put me under.
I got high.
Say to myself, "If I stay safe, I can try to cope with this." I can:
• Call my brother to talk about it.
• Talk to my counselor about how to get a new job.
• Go to an AA meeting and be around people.
Consequence
Felt out of control, felt like a failure.
Able to stay safe without getting high; felt okay.
Even though I'm still out of a job, I feel proud of having not buckled under the stress.
How safe is your old way of coping? _ How safe is your new way of coping?
Rate from 0 (not at all safe) to 10 (totally safe)
From Seeking Safety by Lisa M. Najavits (2002). Copyright by The Guilford Press. Permission to photocopy this form is granted to purchasers of this book for personal use only (see copyright page for details).
109

	</article>
</section>