
<section class="main-section" id="week7">
	<header>Week 7</header>
	<h1>Healing From Anger</h1>
	<hr class="fade">
	<article>

		<blockquote>
			"A loving heart  <br>
			is the truest wisdom."
			<span>   
				-Charles Dickens
			</span>
			<span>(19th-century British author)</span>
		</blockquote>
		<h2>
			Exploring Anger
		</h2>
		<hr class="fade">
		<h3>
			DO YOU HAVE A PROBLEM WITH ANGER?
		</h3>
		<p>
			<b>Do you think you have a problem with anger?</b> Yes / No / Unsure
		</p>
		<p>
			* If you circled "Yes," you may want to go directly to the next section. If you are unsure, check (V) below any that are true for you-these are typical signs of an anger problem. 
		</p>
		<ol>
			<li>You "blow up" at others.</li>
			<li>You often criticize others.</li>
			<li>You feel anger but can't express it.</li>
			<li>You have impulses to harm others.</li>
			<li>You hate vourself.</li>
			<li>You often isolate.</li>
			<li>You feel bitter.</li>
			<li>You have impulses to harm yourself.</li>
			<li>Others have said you have an anger problem.</li>
		</ol>
		<h3>
			TWO TYPES OF ANGER
		</h3>
		<p>
			It is important to know that anger is not bad or wrong. Rather, it is information that can be used either to help or to harm your recovery. It can be used constructively to help you heal, to be honest with others, to face your pain. Or it can be used destructively to act out against yourself or others, to give up, to become bitter. Anger itself is not a prob-lem-it's all in what you do with it.
		</p>
		<p>
			<b>Constructive Anger: Anger that Heals</b>
		</p>
		<p>
			"Constructive anger" means anger that is ...
		</p>
		<ul>
			<li>Moderate or lower (e.g., up to 5 on a 0-10 scale, where 0 = no anger and 10 = intense anger).</li>
			<li>Explored to understand yourself and others better.</li>
			<li>Conscious (vou are aware of it).</li>
			<li>Handled well (e.g., not acted out in dangerous behavior).</li>
			<li>Respectful of your own and others' needs.</li>
		</ul>
		<p>
			<b>	For example,</b> if you go out on a date and the other person acts selfish, you may rightly feel angry. If you listen to your anger, you can use it as a sign to protect yourself; perhaps you can talk to the person about what bothers you, or you can calmly end the date early. You can feel good about using your anger constructively.
			<b>There are great benefits to constructive anger.</b> It can help protect you from danger . .. convey insights about yourself and others . .. give you real power. <em>* Any other benefits you notice?</em>
		</p>
		<p>
			Destructive Anger: Anger that Harms
		</p>
		<p>
			"Destructive anger" means anger that is
		</p>
		<ul>
			<li>Acted out in dangerous behavior (hurting yourself or others).</li>
			<li>Too intense and/or frequent (e.g., often above a 5 on a 0-10 scale).</li>
			<li>"Underground" (quietly seething or feeling bitter).</li>
			<li>Unconscious.</li>
		</ul>

		<p>
			<b>There are great costs to destructive anger.</b> It can destroy your relationships . .. cause physical harm weaken you ... become an addiction. <em>* Any other costs you notice?</em>
		</p>
		<p>
			<b>Destructive anger can be directed toward yourself and/or directed toward others.</b> Both represent a lack of balance between your own and others needs. For some people, both are present.
		</p>
		<p>
			<b>Destructive anger toward self</b> (e.g., self-harm, suicidal feelings): Putting others' needs too much ahead of yours.
		</p>
		<p>
			<b>Destructive anger toward others </b>(e.g., verbal abuse, assault): Putting your needs too much ahead of others'.
		</p>
		<p>
			<b>With destructive anger toward yourself, you may not be aware of anger.</b> For example, if you physically hurt yourself you may not notice anger at the time. However, such acting out does indeed represent anger-typically anger toward others that you have difficulty "owning."
		</p>
		<p>
			<em>* How do you tend to handle anger? </em><br> 
			Circle one: Constructively / Destructively / Both <br>
			Circle one: Toward self / Toward others / Both
		</p>
		<h2>
			DID YOU KNOW...?
		</h2>
		<p><em>* Check (V) any points below that you understand. Circle any that you have questions about.</em></p>

		<p>
			<b>Anger is normal in recovery from PTSD and substance abuse.</b> If you have been through the terrible experiences of trauma and substance abuse, anger is inevitable. You may feel angry at people who hurt you, at the world, at God, at yourself, at life, at treaters, at family, at strangers. Your anger is valid and real. In recovery, the goal is to use your anger as a way to learn about yourself and grow. The task is to face your anger without letting it destroy you or others.
		</p>
		<p>
			<b>Behind all anger are unmet needs.</b> Anger is a signal that something is wrong. It may mean that you are not taking enough care of yourself, or that you have a lot of sadness to work through, or that you are in a harmful rela-tionship. Listening to your anger and caring for the underlying needs can resolve anger.
		</p>
		<p>
			<b>Constructive anger can be learned.</b> It is never too late, no matter how long you've had a problem with an-ger. Mainly, it requires really listening to others' feedback about your anger, "owning" your feelings rather than acting them out, expressing anger in healthy ways, and learning to tolerate the painful feelings behind the anger.
		</p>
		<p>
			<b>Destructive anger can become an addiction.</b> Can you see similarities between destructive anger and substance abuse? For example, the more you engage in it, the more it increases. Also, with destructive anger you may feel "high" on it in the moment. Have you "hit bottom" with destructive anger--has it caused serious problems in your life?
		</p>
		<p>
			<b>Venting anger does not work.</b> An old-style view of anger was the idea of venting--that the solution to anger is to "get it out" (e.g., punch a pillow, write an angry letter, throw rocks at a tree). However, these actually tend to increase rather than decrease anger. Currently, it is understood that anger needs to be handled constructively, not simply vented.
		</p>
		<p>
			<b>Destructive anger never works in the long term.</b> You may get results in the short term. People may do what you want; you may feel powerful in the moment. It is only later that you can see that these are an illusion. Destructive anger spins you out of control and weakens your bonds with others.
		</p>

		<h2>Understanding Anger</h2>
		<hr class="fade">
		<p>
			Notice how each constructive view on the right side of the list below softens the anger. Destructive anger is rigid and harsh. You may want to think of it as ice that needs to melt. The goal is to keep perspective, balance your own and others' needs, and understand yourself better. Also, don't feel you have to agree with each view below-just use the ones that work for you.
		</p>
		<p><em>* Check (V) any below that might help you.</em></p>

<table>
	<tr> 
    <th>Anger toward Others</th>
    <th>Anger toward Others</th>
  </tr>
 <tr> 
    
    <th>Destructive View</th>
    <th>Constructive View</th>
    
  </tr>
  <tr>
    <td>"Others should put my needs first."</td>
    <td>"Among adults, one's ultimate duty in life is to put one's own growth first."</td>
  </tr>
  <tr> 
    <td>"If I yell at people, they'll treat me better."</td>
    <td>"Yelling alienates people and makes them dislike me. I need to ask for what I want in calm ways."</td>
 </tr>
 <tr>
 	<td>"I know what's right."</td>
 	<td>"There are many perspectives on truth. I need to listen fully before I judge a situation."</td>
 </tr>
 <tr>
 	<td>"The only way people hear me is if I yell."</td>
 	<td>"People will want to help me more if I talk to them respectfully."</td>
 </tr>
 <tr>
 	<td>"Other people screw up."</td>
 	<td>"If other people make mistakes, I need to gently guide them. And I make mistakes too."</td>
 </tr>
 <tr>
 	<td>"Anger shows how strong I am."</td>
 	<td>"Strong anger makes me weak. I become out of control."</td>
 </tr>
 <tr>
 	<td>"Others have to make my life better."</td>
 	<td>"It's up to me, more than anyone else, to make my life better."</td>
 </tr>
 <tr>
 	<td>" can only deal with anger by acting out."</td>
 	<td>"Evervone can learn to deal with anger safely."</td>
 </tr>
 <tr>
 	<td>"I'm right to be angry."</td>
 	<td>"I have a right to be angry, but how I express it is what counts."</td>
 </tr>
 <tr>
 	<td>"I'm better than other people."</td>
 	<td>
 		"Everyone in life has a purpose, even if I can't see it.
 		Respect is the basis of all relationships."
 	</td>
 </tr>
 <tr>
 	<td>" know I need to stop blowing up, but I can't."</td>
 	<td>" need to listen to my emotional pain-that's what's behind my anger."</td>
 </tr>
 <tr>
 	<td>"If others threaten me, I have to hurt them."</td>
 	<td>"In a case of serious physical danger, self-defense is appropriate. Other than that, violence is unacceptable."</td>
 </tr>
</table>
 <br>
 <hr class="fade">
<table>
	<tr> 
    <th>Anger toward Self</th>
    <th>Anger toward Self</th>
  </tr>

 <tr> 
    
    <th>Destructive View</th>
    <th>Constructive View</th>
    
  </tr>
  <tr>
    <td>"I should put others' needs ahead of mine</td>
    <td>"My needs are just as important as anyone else's. It's time for me to treat myself well."</td>
  </tr>
  <tr> 
    <td>"I should never get angry."</td>
    <td>"It is normal to get angry at times. I need to listen to my anger and respond to it safely."</td>
 </tr>
 <tr>
 	<td>"If I hurt myself, I'll feel better."</td>
 	<td>"I need to find long-term solutions to my pain."</td>
 </tr>
 <tr>
 	<td>"I'm a failure."</td>
 	<td>"Deep inside, I know that life is about personal progress--not about 'winning' and 'losing.' "</td>
 </tr>
 <tr>
 	<td>'I can't say what I really think."</td>
 	<td>"It's how I say it that matters."</td>
 </tr>
 <tr>
 	<td>"I need to be punished."</td>
 	<td>"That is a PTSD thought. It reflects my inner pain, but it's not true."</td>
 </tr>
 <tr>
 	<td>" want to die."</td>
 	<td>"I'm in a lot of distress. But I deserve to live."</td>
 </tr>
 <tr>
 	<td>"This will show people how I feel."</td>
 	<td>"I need to put it in words, not action."</td>
 </tr>
 
</table>

<h2>Before, During, and After: Three Ways to Heal Anger</h2>
<hr class="fade">
<p>
		To transform anger from destruction to healing, three key strategies are helpful: <b>"Motivate,"</b> 
		<b> "Contain,</b> and <b>"Listen."</b> These correspond, generally, to
		<b> "before,"</b> <b> "during,"</b> and "after" destructive anger episodes. If you want, you can remember the acronym <b>"MCL"</b> or <b>"More Caring Life"</b> to represent the idea that handling anger well can help you take better care of yourself and others.
		</p>
		<p>
			<em>
		* Note: If you tend to harm yourself, you may not be aware of your anger. In reading the material below, you can substitute the term "self-harm" where it says "anger."
		</em>
		</p>
		<h3>
		BEFORE ANGER EPISODES ... MOTIVATE
		</h3>
		<p>
		"Motivate" means searching your heart for compelling reasons to stop destructive anger. This can free you to handle the anger constructively. Prepare now, before the next anger episode.
		</p>
		<p>
		<b>Why?</b> When you are in the midst of destructive anger, it may feel "right" to do something you will later regret.
		Whether it's hurting yourself or someone else, the feelings are so strong that you may feel you have no choice except to go with them. They are like a tidal wave. Think of all the times you've sworn "things will be different next time"-but then they aren't. The only way to make them different is to establish strong motivation and then work at it. It will not happen on its own. A key question: Why is it in your best interest to solve your anger problem?
		</p>
		<p>
			<em><b>How? * </b>Check off any ideas below that might help you.</em>
		</p>
		<ul>
		<li>
			<b>Observe the cost of your anger.</b> Has it isolated you? Kept you from feeling at peace? Hurt your job perfor-mance? Left scars on your body (from self-harm)?
		</li>
		<li>
			<b>Get feedback about your anger.</b> Hearing how others view your anger problem can give you important in-formation. Becoming defensive or dismissing feedback keeps you stuck. You do not have to agree with others, but listen very carefully before you decide what's true.	
		</li> 
		<li>
			<b>Feel the impact of anger on your body.</b> People who get angry a lot are more likely to have physical problems and to die younger. Do you notice the intense stress that anger puts on your body? Can you feel the tension it creates?	
		</li>
		<li>
			<b>Notice whom vour anger has hurt.</b> Yourself? Your partner? Your children? Your therapy relationship? Anger scares people, even if they cannot tell you that. See the other's pain-the hurt look on a child's face, the partner who becomes quiet. If you are feeling empathy for someone, you cannot simultaneously harm that person. (That includes yourself too!) Remember that you cannot "unstab" someone once the damage is done.	
		</li>
		<li>
			<b>Develop a policy on anger.</b> Make a commitment to yourself (and your therapist or sponsor) that no matter what happens, you will not act on your anger. Handout 4 is a Safety Contract you can fill out.
		</li>
		<li>
		<b>Imagine how it would feel to control your anger.</b> Picture how extraordinary it would be- freeing, truthful at the deepest level, caring, in control. In the long run, it will feel like a new life. It is "intoxicating" in the best sense.	
		</li>
		<li>
			<b>Learn more about anger.</b> This is one of the best ways to motivate yourself. Take a class on anger management or assertiveness-local adult education programs and/or mental health clinics offer such courses. Or read a book on it (two are listed in Handout 5). Learn when and how to express anger, and what to do if the other person does not respond well. You can also ask others how they handle angry situations. Find out what is realistic to expect from people and from ourself (often your anger derives from unrealistic expectations).
		</li>
		<li>
			<b>Create an image to help you.</b> A horse being reined in? A child being raised? An athlete in training? Really picture the process that's required to learn how to control your anger--the ups and downs.
		</li>
		<li>
			<b>Carry an "anger reminder."</b> Carry a physical reminder of how destructive your anger can be-for example, a photo of someone you've hurt with your anger, or a list of the hospitalizations you've had for suicidal behavior.
		</li>
		<li>
			<b>Get rid of weapons until you are safe to keep them.</b> Keeping weapons that can be used against oneself or others is dangerous (e.g., guns, ropes). Until you can express anger in constructive ways without acting out, it is essential to keep your environment as free as possible of weapons. They are disasters waiting to happen.	
		</li>
		</ul>
		<p>
			<em>
		* Write out your motivation for working on anger. Make it clear, compelling, and realistic.
	"Own your anger!"
</em>
	</p>
<h3>DURING ANGER EPISODES ... CONTAIN</h3>
<p>
		Once destructive anger has begun, the only goal is to bring it back to the "safe zone"-aware of it, but keeping it within a manageable level (no higher than a 5 on a 0-10 scale).
		</p>
		<p>
		<b>Why?</b> Destructive anger can blind you. It makes you unable to get perspective or improve the situation. Only once you are in control of anger can you put it to positive use. Thus, when you are feeling the impulse to act on an-ger-to say something you'll later regret, to hurt someone--the only priority is to regain safety. Do not try to explore the anger, understand it, or express it (all that's for later). Think of an "emergency response system" or "damage con-trol." For example, when there is a toxic industrial spill, the goal is to contain it, get people to safety, clear the area, and only figure out why later on. Remember that controlling your anger does not mean your anger is wrong. Your anger is a valid, important feeling that comes from somewhere important. But how it gets addressed--not hurting yourself or others--is just as important. Each time you are able to contain your anger, you are building strength. It will get easier over time!
		</p>
		<p>
	<b>	How?</b> <em> * Check off any ideas below that might help you.</em>
		</p>
		<p>
		<b> Delay or "time out."</b> This is one of the most effective strategies. No matter what, force yourself to delay any anger expression or action until you're back in the safe zone. Delay for at least a half hour--it has been found that it takes the body at least 20-30 minutes to return to normal once anger has been activated.
		* Do soothing activities. These might be music, meditation, relaxation, sports, reading, TV, praying, ground-ing, sex, or hobbies.
		</p>
		<p>
		<b> Do activities that help you feel in control.</b> These counteract the out-of-control feeling of destructive an-ger. They include cleaning your room, writing a list of things to do, going shopping, searching the Web, or any other productive activity that is not too stressful for you.
		</p>
		<p>
		<b> Notice what you're grateful for.</b> Notice what you do have in life, and what others have done for you. For example, think, "I have a job, a car, my health." Or "I am lucky I have enough to eat every day." Or "I am seeing improvements in my life, such as more days clean."
		</p>
		<p>
		<b>Apply the twelve steps of AA to your destructive anger.</b> Give yourself up to your Higher Power for help.
		Think of destructive anger as an addiction.
		</p>
		<p>
		<b> Remember "clear thinking."</b> Clear thinking means saying statements to yourself that remind you to keep perspective. See Understanding Anger (Handout 2).
		</p>
		<p>
			<b>See the good in people.</b> For anger toward others: Try to identify--right now-anything you can that is good about the person you are angry at; if you can do this, notice whether your anger goes down a little. For anger toward yourself: Try to identify anything that is good about you.
			</p>
		<p>
		<b> Ask for help.</b> Try to identify someone you can call when you feel like hurting yourself or others. It may take others' helo before vou can stop yourself, once the feeling builds (just as with cravings for substances. If you have no one to call, try using a hotline.
		</p>
		<p>
		<b>If you are unaware of your anger, try to become conscious.</b> Sometimes people physically hurt themselves but are not aware of any anger. It has gone "underground." Your goal in such situations is to notice your an-ger. This too is a form of containment- conscious anger is much safer than unconscious anger. Ways to do this in-clude, Ask yourself, "Who am I angry with?" and "What am I afraid will happen if I express anger?"
		</p>
		<p>
		<b> Remember the bottom line: It is not okay to act out anger.</b> It is never okay to physically hurt someone (unless vou or others are in life-threatening danger). Never attack someone weaker than yourself (e.g., a child, an an-imal, an elderly person). No matter what someone says or does to you, it is your responsibility to manage your anger.
		Do not justify angry outbursts-they harm others and degrade you. And never leave a trail of anger, such as an angry voice mail or an angry letter. Wait until you're calmer to express your anger (see the next section, "Listen").
		</p>
		<p>
		<b> Remember your rights.</b> You have a right to feel angry, but you do not have a right to abuse others or your-self. You have a right to leave a relationship, but you do not have a right to stay and hurt someone. If you cannot accept the other person, consider detaching from the relationship.
		</p>
		<p>
		<b>Stay humble.</b> Much of what fuels anger is a feeling of righteousness. Notice that everyone, including you, makes mistakes in life. Make a list of the mistakes you've made toward others, and read it the next time you feel like blowing up at someone.
		</p>
		<p>
		<em>Write out your plan for containing destructive anger. Make sure it fits who you are and what most helps you.</em>
		</p>
		AFTER ANGER EPISODES.
		... LISTEN
		The next major step in healing from anger is listening to it. This means respecting that your anger comes from somewhere important; it signifies a message that needs to be heard.
		Why? Behind all anger are unmet needs. Hear the "whisper" behind the anger. If you try to push it away without looking at it, it will keep coming back. Note that listening is meant broadly; it means both listening to yourself and getting others to listen to you. The key step is for you to hear it clearly-if you can hear it, vou can learn to express it clearly to others too. And if you can hear it clearly, you can then work to get your needs met in effective ways.
		How? * Check off any ideas below that might help you.
		• Listen to the most vulnerable sides of yourself. Destructive anger is like a small child throwing a tan-trum-a vulnerable child who feels scared, sad, alone, guilty or powerless, for example. Indeed, it is said that anger is often a defense against feelings that are more painful. An essential task of recovery is to respect these feelings and soothe yourself through them.
		• Listen to your anger messages. Some typical messages that anger conveys include, "Others are not hearing me," "I have suffered too much." " want the world to be a better place." " don't have enough support," "I feel hopeless," "I feel like a failure," "Other people have it easier."
		• Notice patterns. Does your anger occur when you feel hurt? When you are tired or hungry? When others are incompetent? When you have been working too hard? When you feel rejected? When others place demands on you? Some people keep an anger journal to better identify their patterns. For self-harm, too, it is important to notice what triggers you.
		(cont.)
		357

		HANDOUT 3 (page 4 of 5)
		Healing from Anger
		+ Express your anger calmly. Be gentle, centered, caring. Get others to listen to your anger by expressing it in appropriate ways. Always try to express anger face to face and really "see" the other person. Also, get help from others before expressing it: Ask your therapist, friend, or sponsor how to express the anger. If you start to escalate (yelling, anger above a 5 on a 0-10 scale), leave until you can come back and try again calmly
		• Strive to get your needs met through your own efforts. Once you have heard your needs, you can take care of them. If you are tired or hungry, get sleep or something to eat. If you feel disappointed that your partner doesn't want to spend more time with you, consider couple therapy or find other people to do more activities with. Remember that ultimately you are responsible for your own happiness. There are always ways to improve your situation.
		• Explore how anger relates to your PTSD and substance abuse. How did each of these contribute to your anger?
		• If you want to change others, use methods that work. Anger and criticism never change people in the long run. People just feel afraid of you and avoid you. Methods that do work include negotiation, empathy, praise, and teaching.
		Take good care of yourself. People who hurt others are typically not getting their needs met in healthy ways. People who harm themselves typically put others' needs before theirs too much. If you hear the needs behind your anger you may notice, for example, "I need someone to listen to me," "I need to say 'no,' " "I need to take more time for myself."
		• Change "shoulds" to "wants." All anger has a "should" statement in it-for example, "My partner should do what I ask." A very helpful strategy is to change the "should" statement to a statement beginning with "I want": "I want my partner to do what I ask." Do you notice your feelings shift when vou do this? Usually it makes you aware of limitations that are important to accept. Much anger is a way to gain control in situations where you do not have it.
		• Create "win-win" solutions. Take into account both your needs and the other person's. Take turns making decisions. Take turns listening and speaking.
		+ Notice why you did what you did. Much anger (especially self-harm) comes from self-criticism. If you become angry with yourself because of something you did or didn't do, try to see why you made that choice. Being compassionate allows you to take responsibility for your actions and move forward.
		Notice low-level anger. People who act out anger often have trouble expressing it as it builds up. They bottle it up and then blow up, often triggered by some small event. Notice your anger in its low-level forms (e.g., annoy-ance, irritation), and try to get your needs met then so it won't build up.
		+ Protect yourself from angry influences. Observe how you are affected by violent movies, watching television news, or being around angry people. There is often a connection between larger cultural forces and your anger.
		But remember that anger is a habit that you can change.
		• Notice how anger gets misdirected. Anger often gets directed at people who do not deserve it or who do not deserve it so intensely. For example, perhaps you get very angry over some "small" thing-such as a clerk at a store who gives you wrong information. You might say to yourself, "I'm furious, but it doesn't make sense to be so angry about this. I think I'm really angry, deep down, about feeling like no one ever helps me out. I need to start getting more support, rather than blowing up at a store clerk."
		+ Notice whose point of view is being neglected. If you are angry at others, try to listen to others' point of view more. If you are angry at yourself, try to listen to your point of view (or the various sides of yourself) more. The goal is to hear both your own and others' point of view at the same time.
		Apologize to people you've hurt with your anger. This does not fully take it away, but it may help. If you can, try to explain the painful feelings that drive your anger.
		• Recognize that you may need to mourn things you cannot change. Ultimately, after doing whatever you can to get your needs met, there may be some that can never be fulfilled. Perhaps you have a medical illness that will never go away. Perhaps you are too old to have a child or to have the career you want. Perhaps your partner cannot be the person you want. With situations that you cannot change, you will need to mourn and accept them. This is emotional work that you can and should do, but that may need a therapist's help.
		(cont.)
		358

		HANDOUT 3 (page 5 of 5)
		Healing from Anger
		* On the back of the page, write out your plan for listening to your anger. Use it as important knowledge that can help you grow.
		AN EXAMPLE OF THE THREE STEPS
		Situation: Your boss gives a promotion to someone who deserves it less than you.
		1. Motivate: You say to yourself that blowing up at your boss will not help anything. You need to keep your job. Yelling at people has lost you jobs in the past.
		2. Contain: You decide to wait at least 24 hours before going in to see your boss. During those 24 hours, you try to stay calm and distract yourself with activities. You say to yourself, "No matter what, I am going to deal with this in a constructive way."
		3. Listen: You recognize that all your life it has felt as though you get less than others. It is extremely painful to be disappointed by your boss. But you recognize that your intense feelings are partly due to feeling neglected when you were growing up. You remind yourself that in the working world politics often wins out, and you're not the first to have this happen to you. You decide to talk to your therapist to role-play how to discuss the issue with your boss.
		After doing this, you go into your boss's office. You say to your boss, "I'd like to understand better why the promotion went to someone else rather than me. Please explain it to me." Your boss gives you a vague answer and seems uncomfortable. You realize that he's not going to tell you the truth. You calmly leave the office. You say to yourself,
		"I have two options: I can either stay in this job and recognize that there are some major limitations here. Or I can apply for a new job. But either way, I did not blow up at anyone, and that is a major victory."
		ROLE PLAYS
		* Rehearse how you can work on your anger constructively. If you want, try one of the role plays below:
		• You have PTSD and vou're angry at feeling miserable so much of the time.
		• You help out a "friend" who then won't help you in return
		• Your partner keeps refusing to pay child support.
		• Your insurance company cancels your policy by mistake, then gives you the "run-around."
		• Someone cuts you off in traffic.
		• Someone betrays a confidence.
		• Someone makes a nasty comment.
		• You think about how much of your life you've lost due to your substance abuse and PTSD.
		• You feel furious at yourself for using substances.
		• You feel like killing yourself.
		• There is a long line at the post office, and you have very little time to wait.
		• You find out your partner is cheating on you.
		Acknowledgments: Readings that were helpful in the development of this topic included Potter-Efron and Potter-Efron (1995) and McKay, Rogers, and McKay (1989). The "Change 'shoulds' to 'wants' " recommendation in Handout 3 is based on Burns (1980). Ask your therapist for guidance if you would like to locate any of these sources.

		Healing from Anger
		HANDOUT 4
		Safety Contract: Protecting Yourself and Others
		1. I am aware that I am in danger of hurting _myself others both myself and others
		2. I recognize that wanting to hurt myself and/or others is a common feeling in recovery from PTSD and substance abuse. I understand that this is not "bad" or "wrong," but that it does need to be dealt with in healthier ways.
		3. "Hurting myself" means all methods of harm. Circle those that apply: cutting, burning, suicidal action, bingeing-purging on food, gambling, using a substance, driving too fast. Additional ones for me are:
		4. "Hurting others" means any emotional or physical attack on others. Circle those that apply: physical attack (hitting, punching, using a weapon against someone); emotional attack (yelling at someone, saying cruel words).
		Additional ones for me are:
		5. I recognize that hurting myself or others comes from emotional pain. There are real reasons for it, and I need to listen to myself very closely to explore those. I'm aware of the following main issues behind my hurting myself and/or others (circle those that apply): wanting people to see how upset I feel; wanting to be taken care of; feeling hopeless; feeling like a failure. Additional ones for me are:
		6. Whatever the reasons for my impulses, I still must learn to stay safe. I promise--to myself, to my recovery, and to my therapist--that I will carry out the following:
		a. Before hurting myself or others, I will attempt to reach out for help from
		b. Before hurting myself or others, I will use the following safe coping skills:
		c. If I hurt myself or others in any way, I will be fully honest with my therapist and talk about it at the next possible opportunity (e.g., at my next session or by leaving a phone message).
		d. If my life or serious physical harm is at risk, I will do whatever it takes to protect myself (e.g., going to an emergency room). My specific plan will be:
		7. This contract will remain in effect until I and my therapist agree to revise it.
		8. Optional: if I violate this contract, the following will occur (circle any that apply):
		a. I will agree to obtain more care (e.g., go into the hospital, sober house, join AA).
		b. I will agree to get rid of my weapon (e.g., rope, knife).
		c. I will agree to write about why I violated my contract and whom I have hurt.
		d. I will agree to
		9. Optional: I will give a copy of this contract to (circle any that apply): my partner, my doctor, my AA sponsor,
		•
		Patient signature:
		Therapist signature:
		Date:
		From Seeking Safety by Lisa M. Najavits (2002). Copyright by The Guilford Press. Permission to photocopy this form is granted to purchasers of this book for personal use only (see copyright page for details).
		360

		Healing from Anger
		Ideas for a Commitment
		Commit to one action that will move your life forward!
		It can be anything you feel will help you, or you can try one of the ideas below.
		Keeping your commitment is a way of respecting, honoring, and caring for yourself.
		+ Option 1: Write a script (or record a tape) of what you can say to yourself the next time you have the impulse
		to hurt yourself or someone else. If you want, ask your therapist to add to it as well.
		+ Option 2: Imagine that you are teaching a child how to express anger. What would you say?
		+ Option 3: Take one of the following situations and rewrite it in a healthier way.
		a. Jim tries hard to control his anger, but every few weeks he screams at his wife when she "screws up." Today she forgets to pick up his prescription from the pharmacy. He gets enraged and yells at her.
		b. Martha hates herself. Everyone seems smarter and more attractive than she is. Today her boyfriend tells her he wants to break up. She goes home and cuts herself with a razor.
		+ Option 4: Read a book about anger. For example, two recommended books on anger are When Anger Hurts: Quieting the Storm Within (McKay et al., 1989) and Letting Go of Anger (Potter-Efron & Potter-Efron, 1995).


	</article>
</section>

