---
title: Welcome Seeking safety
---

<main id="main-doc">
  <section class="main-section" id="Introduction">
    <header>Introduction</header>
    <article>
      <p>
        Welcome Seeking safety
      </p>

    </article>
  </section>
<!-- end of section -->
<!-- <section class="main-section" id="What_you_should_already_know">
<header>What you should already know</header>
<article>
<p>This guide assumes you have the following basic background:</p>


</article>
</section>

<section class="main-section" id="week1">
<header>week 1</header>
<article>
<p>
JavaScript and Java are similar in some ways but fundamentally
different in some others. The JavaScript language resembles Java but
does not have Java's static typing and strong type checking.
JavaScript follows most Java expression syntax, naming conventions
and basic control-flow constructs which was the reason why it was
renamed from LiveScript to JavaScript.

</article>
</section>
-->

<section class="main-section" id="week3">
  <header>Week 3</header>
  <h1>PTSD: Taking Back Your Power</h1>
  <hr class="fade">
  <article>
    <blockquote>

      "You are not responsible for being down, <br>
      but you are responsible for getting up." <br>

      <span> - Jesse Jackson </span>
      <span>(20th-century American political leader)</span>
    </blockquote>

    <h2>What Is PTSD?</h2>
    <hr class="fade">

    <p>
      <b>PTSD stands for "posttraumatic stress disorder"</b>-a set of emotional problems that can occur after someone has experienced a terrible, stressful life event.
    </p>
    <p>
      <b>PTSD means:</b>
      "post <em>("after")</em> traumatic <em>("trauma")</em> stress <em>("anxiety")</em> disorder <em>("reaction")</em>"
    </p>


    <p> Do you have PTSD? Check off (✓) those below that are true for you.</p>
    <p>
      _1. You survived a trauma: an event outside of your control in which you experienced or witnessed a physical threat (e.g., sexual abuse, physical abuse, war combat, seeing someone killed, surviving a hurricane, a car accident).
    </p>
    <p>
      2. Your response to the trauma involved intense helplessness, fear, or horror (or, if you were a child at the time, agitated or disorganized behavior).
    </p>
    <p>
      _3. After the trauma, you suffered each of the following problems for over a month:
    </p>
    <ul>
      <li>
        __  INTRUSION: The trauma comes back into mind even when you don't want it to, as in nightmares,
        flashbacks, or images.
      </li>
      <li>
        __  AVOIDANCE: Numbing, feeling detached, avoiding any reminders of the trauma.
      </li>
      <li>
        __ AROUSAL: Feeling "hyped up" (e.g., easily startled, sleep problems, anger).    
      </li>
      <li>
        __ LOWER FUNCTIONING: Problems with relationships, work, or other major areas of life.
      </li>
    </ul>
    <p>
      <em>
        Note: You have PTSD if you checked off all of the items above.
      </em>
    </p>
    <h3>
      TYPES OF PTSD
    </h3>
    <p>
      There are two types of PTSD. "Simple PTSD" is from a single incident (such as a car accident or a tornado), usually as an adult. "Complex PTSD" is from repeated incidents such as domestic violence or ongoing childhood abuse. It has a broader range of symptoms, including problems with self-harm, suicide, dissociation ("losing time"), relationships, memory, sexuality, health, anger, shame, guilt, numbness, loss of faith and trust, and feeling damaged.
    </p>
    <h3>
      MORE ABOUT PTSD ...
    </h3>
    <ul>
      <li>
        <b>Your PTSD symptoms are normal after what you have been through.</b>
        You are not crazy, weak, or bad! That is why PTSD has been called "a normal reaction to abnormal events."
      </li>
      <li>
        <b>PTSD is considered an anxiety disorder</b> because it is marked by an overwhelming feeling of anxiety during or after the trauma. It is a psychiatric illness, but it is definitely possible to heal from it.
      </li>
      <li>
        <b>Rates of PTSD:</b> 61% of men experience trauma during their lives, with 5% developing PTSD; for women, 51% experience trauma, and 10% develop PTSD. Why do some people develop PTSD after trauma and others don't?
        This is not fully known, but some risk factors include more severe, repeated, and/or early trauma; poverty; parents who had PTSD; and life stress.  
      </li>
      <li>
        <b>Knowledge about PTSD is relatively recent.</b> It was first studied in soldiers who experienced combat. Later, it came to be understood in a wide variety of terrible life events (e.g., sexual and physical abuse, natural disasters).
        PTSD was added to the official list of psychiatric disorders only in 1980. More is being learned all the time because it is so important.
      </li>
      <li>
        <b>It is possible to heal from severe trauma.</b> Some famous people who have include Oprah Winfrey (TV per-sonality), Melanie Griffith (actress), and Maya Angelou (writer).
      </li>
    </ul>
    <h2>The Link between PTSD and Substance Abuse</h2>
    <hr class="fade">

    <p>
      PTSD and substance abuse are closely connected for many people, yet this link often goes unrecognized. Below is some information that may be helpful to you.
    </p>
    <ul>
      <li>
        <b>You are not alone!</b> For people with substance abuse, PTSD is one of the most common dual diagnoses.
        Among women in treatment for substance abuse, 30%-59% have current PTSD. Among men in substance abuse treatment, 11%-38% have current PTSD.
      </li>
      <li>
        <b>There are many reasons why people with PTSD abuse substances:</b> to access feelings or memories, or the opposite to escape from feelings or memories; to get through the day; to compensate for the pain of PTSD; to commit "slow suicide"; because they grew up with substance abuse in the family; because they don't care about taking care of their bodies.  
      </li>
      <li>People with PTSD and substance abuse tend to abuse the most dangerous substances: cocaine and opiates.</li>
      <li>
        <b>Gender differences:</b> Women with PTSD and substance abuse typically experienced childhood physical and/ or sexual abuse; men with both disorders typically experienced crime victimization or war trauma.
      </li>
      <li>
        <b>Two main themes of both disorders are secrecy and control.</b> "Secrecy" means you may feel ashamed and wish to keep your problems a secret (e.g., the traumas you experienced, the amount of your substance use).
        "Control" refers to the idea that with trauma and substance abuse, you feel out of control. In PTSD, a terrible event occurred that you neither chose nor wanted; in substance abuse, you have lost control over your ability to stop using.
        Learning the skills of honesty and regaining control are thus important for healing.
      </li>
      <li>
        <b>Each of the disorders makes the other more likely.</b> If you have PTSD, you are at increased risk for substance abuse. If you have substance abuse, you are at increased risk for trauma. It is thus important to try to keep yourself safe to prevent further trauma and substance abuse.
      </li>
      <li>
        <b>The relationship between PTSD and substance abuse is complex.</b> Using substances can either increase or decrease the PTSD symptoms. Yet abstinence from substances can also either increase or decrease the PTSD symp-toms. Try to notice the patterns that occur for you. Getting to know the relationship between the two disorders in your life can help you cope better with the recovery process.  
      </li>
      <li>
        <b>Why do PTSD and substance abuse occur together?</b> Four patterns are common:
        <ol>
          <li>
            PTSD can lead to substance abuse. To overcome the terrible symptoms of PTSD, you may use substances to "self-medicate"-to try to feel better. For example, you may have begun using alcohol to get to sleep at night.
          </li>
          <li>
            Substance abuse can lead to PTSD. If you abuse substances, you may be vulnerable to dangerous traumatic situations because your "guard is down" or your self-esteem is low-for example, getting drunk at a bar and going home with a stranger who assaults you.
          </li>
          <li>
            PTSD and substance abuse may have both occurred together. Some people grew up in a home where family members abused substances and also hurt each other.
          </li>
          <li>
            PTSD and substance abuse can be connected in a "downward spiral." PTSD can lead you to use sub stances; by using substances, you are at increased risk for more trauma; if more trauma happens, you may use more substances 
            to 'cope' ...and so on.
          </li>
        </ol>
      </li>
    </ul>

    <div class="priorities-ptsd-section">
      <p>The "big picture" priorities in this treatment:</p>
      <ul class="priorities-ptsd">
        <li><b>Eliminate substance use</b></li>
        <li><b>Learn to manage PTSD</b></li>
        <li><b>Become safe</b></li>
      </ul>

      You can heal from both PTSD and substance abuse!
    </div>

<h3>Using Compassion to Take Back Your Power</h3>
<hr class="fade">
<p>
<b>Having compassion for your PTSD and substance abuse is a way to "take back your power."</b> One of the most troubling aspects of PTSD and substance abuse is that you feel powerless over them-they are controlling you rather than vou controlling them. "Compassion" means accepting and respecting yourself. The opposite of compassion is harshness. Rather than blaming yourself, the goal is to understand and really listen to yourself at a deep level.
This can make it easier to heal from PTSD and substance abuse.
</p>
<p>
Compassion may feel very difficult to do. It is easier to "beat yourself up" and hate yourself, especially if you grew up in a family where this is how you were treated. With PTSD and substance abuse, you may view yourself as sick, damaged, weak, crazy, bad, or lazy. There may be people in your life who view you in those ways too. However, it is helpful to understand your PTSD and substance abuse as attempts to survive and cope. It has been said that
"these symptoms simultaneously conceal and reveal their origins; they speak in disguised language of secrets too terrible for words" (Herman, 1992, p. 96).
</p>
<p>
<b>This does not mean that the PTSD and substance abuse should continue.</b> Indeed, the major goal of this treatment is to help you overcome PTSD and substance abuse by learning safe ways of coping. But it helps to understand your PTSD and substance abuse as signs of distress. It is like having a fever when you are ill-it tells you that you need to get help and take good care of yourself.
</p>
<h4>
COMPASSION FOR YOUR PTSD
</h4>
<p>
<b>PTSD can be understood as an attempt by your mind and body to survive overwhelming trauma.</b> PTSD symptoms may have helped you to "tune out" the terrible trauma . ... protect yourself from further harm ... feel more in control of an uncontrollable situation . .. feel safer . . . adapt to your environment . .. get people to notice your pain.
</p>
<p>
  <b>
Examples of Viewing PTSD Symptoms with Compassion
</b>
</p>
<p><b>Suicidal thinking</b></p>
<p>
Harsh view. "I'm hopeless. What's wrong with me? I should just get over it already."
Compassionate view. "It's my way to feel more in control, by choosing life or death. In therapy I can learn other
ways to feel control, but suicidal thoughts make sense after what I've lived through."
</p>
<p><b>Relationship problems</b></p>
<p>
Harsh view: "I'm unlovable. I deserved what happened to me. I'm a bad person."
Compassionate view: "I learned not to trust people, and that helped me survive. I can keep working on relationship issues, but I need to be respectful of myself and why I have these problems."
</p>
<p>
* Write a harsh versus compassionate view of your PTSD. (Continue on back for more space.)
</p>
<p>
Harsh view: __________________________________________
</p>
  <p>
Compassionate view: __________________________________________
</p>


  </article>
</section> 

<section class="main-section" id="week4">

  <header>Week 4</header>
  <h1>Grounding: Detaching from Emotional Pain</h1>
  <hr class="fade">
  <article>
    <blockquote>

      "No feeling is final." <br>
      <span> - Rainer Maria Rilke </span>
      <span>(20th-century German poet)</span>

    </blockquote>


    <h1>Using Grounding to Detach from Emotional Pain</h1>  
    <hr class="fade">

    <h3><b>WHAT IS GROUNDING?</b></h3>
    <p>
      Grounding is a set of simple strategies to detach from emotional pain (e.g., drug cravings, self-harm impulses, anger, sadness. Distraction works by focusing outward on the external world, rather than inward toward the self. You can also think of it as "distraction," "centering." "a safe place," "looking outward," or "healthy detachment."
    </p>

    <h3><b>WHY DO GROUNDING?</b></h3>
    <p>
      When you are overwhelmed with emotional pain, you need a way to detach so that you can gain control over your feelings and stay safe. As long as you are grounding, you cannot possibly use substances or hurt yourself! Grounding "anchors" you to the present and to reality.
    </p>
    <p>
      Many people with PTSD and substance abuse struggle with feeling either too much (overwhelming emotions and memories) or too little (numbing and dissociation). In grounding, you attain a balance between the two: conscious of reality and able to tolerate it. Remember that pain is a feeling; it is not who you are. When you get caught up in it, it feels like you are your pain, and that is all that exists. But it is only one part of your experience-the others are just hidden and can be found again through grounding.
    </p>

    <h3>Guidelines</h3>
    <ul>
      <li>Grounding can be done <b>any time, any place, anywhere </b>, and no one has to know.</li>
      <li>
        Use grounding when you are <b>faced with a trigger, enraged, dissociating, having a substance craving, or whenever your emotional pain goes above 6 (on a 0-10 scale)</b>. Grounding puts healthy distance between you and these negative feelings.
      </li>
      <li><b>Keep your eves open, scan the room, and turn the light on </b>to stay in touch with the present.</li>
      <li>
        <b>Rate your mood before and after grounding</b>, to test whether it worked. Before grounding, rate your level of emotional pain (0-10, where 10 means "extreme pain"). Then rerate it afterward. Has it gone down?
      </li>
      <li>
        <b> No talking about negative feelings or journal writing</b> -you want to distract away from negative feel-ings, not get in touch with them.
      </li>
      <li>
        <b>Stay neutral</b>-avoid judgments of "good" and "bad." For example, instead of "The walls are blue; I dislike blue because it reminds me of depression," simply say "The walls are blue" and move on.
      </li>
      <li>
        <b>Focus on the present, not the past or future.</b>
      </li>
      <li>
        <b>Note that grounding is not the same as relaxation training</b>. Grounding is much more active, focuses on distraction strategies, and is intended to help extreme negative feelings. It is believed to be more effective than relaxation training for PTSD.
      </li>
    </ul>



    <h3>WAYS OF GROUNDING</h3>

    <p>Three major ways of grounding are described below-mental, physical, and soothing. "Mental" means focusing your mind; "physical" means focusing on your senses (e.g., touch, hearing); and "soothing" means talking to yourself in a very kind way. You may find that one type works better for you, or all types may be helpful.
    </p>

    <h3>
      Mental Grounding
    </h3>
    <ul>
      <li>
        <b> Describe your environment in detail</b>, using all your senses--for example, "The walls are white; there are five pink chairs; there is a wooden bookshelf against the wall..." Describe objects, sounds, textures, colors, smells,
        shapes, numbers, and temperature. You can do this anywhere. For example, on the subway: "I'm on the subway. I'II see the river soon. Those are the windows. This is the bench. The metal bar is silver. The subway map has four colors." 
      </li>
      <li>
        <b> Play a "categories" game with yourself</b>. Try to think of "types of dogs," "jazz musicians," "states that begin with 'A'," "cars," "TV shows," "writers," "sports," "songs," or "cities."
      </li>
      <li>
        <b> Do an age progression</b>. If you have regressed to a younger age (e.g., 8 years old), you can slowly work your way back up (e.g., "I'm now 9; I'm now 10; I'm now 11 ... ") until you are back to your current age.
      </li>
      <li>
        <b>Describe an everyday activity in great detail</b>. For example, describe a meal that you cook (e.g., "First I peel the potatoes and cut them into quarters; then I boil the water; then I make an herb marinade of oregano, basil, garlic, and olive oil ... ").
      </li>
      <li>
        <b> Imagine</b>. Use an image: Glide along on skates away from your pain; change the TV channel to get to a better show; think of a wall as a buffer between you and your pain.
      </li>
      <li>
        <b> Say a safety statement</b>. "My name is _____; I am safe right now. I am in the present, not the past. I am
        located in____; the date is ____."
      </li>
      <li>
        <b>Read something, saying each word to yourself</b>. Or read each letter backward so that you focus on the letters and not on the meaning of words.
      </li>
      <li>
        <b>Use humor</b>. Think of something funny to jolt yourself out of your mood.
      </li>
      <li>
        <b> Count to 10 or say the alphabet</b>, very s ... I ... o ... W ... I . . . y.
      </li>
    </ul>

    <h3>Physical Grounding</h3>
    <ul>
      <li>
        <b>Run cool or warm water over your hands.</b>
      </li>
      <li>
        <b>Grab. tightly onto your chair as hard as you can.</b>
      </li>
      <li>
        <b>Touch various objects around you:</b> a pen, keys, your clothing, the table, the walls. Notice textures, colors, materials, weight, temperature. Compare objects you touch: Is one colder? Lighter?
      </li>
      <li>

        <b>Dig your heels into the floor</b>-literally "grounding" them! Notice the tension centered in your heels as you do this. Remind yourself that you are connected to the ground.
      </li>
      <li>

        <b>Carry a grounding object in your pocket</b>--a small object (a small rock, clay, a ring, a piece of cloth or yarn) that you can touch whenever you feel triggered.
      </li>
      <li>
        <b>Jump up and down.</b>
      </li>
      <li>
        <b>Notice your body:</b> the weight of your body in the chair; wiggling your toes in your socks; the feel of your back against the chair. You are connected to the world.
      </li>
      <li><b>Stretch</b>. Extend your fingers, arms, or legs as far as you can; roll your head around.</li>
      <li>
        <b>Clench and release your fists.</b>
      </li>
      <li>
        <b>Walk slowly, noticing each footstep</b>, saying "left" or "right" with each step.
      </li>
      <li>
        <b> Eat something, describing the flavors</b> in detail to yourself.
      </li>
      <li>
        <b>Focus on your breathing</b>, noticing each inhale and exhale. Repeat a pleasant word to yourself on each inhale (e.g., a favorite color, or a soothing word such as "safe" or "easy").
      </li>
    </ul>
    <h3>Soothing Grounding</h3>
    <ul>
      <li>
        <b>Say kind statements,</b> as if you were talking to a small child-for example, "You are a good person going through a hard time. You'll get through this."
      </li>
      <li>
        <b>Think of favorites.</b> Think of your favorite color, animal, season, food, time of day, TV show.
      </li>
      <li>
        <b>Picture people you care about</b> (e.g., your children), and look at photographs of them.
      </li>
      <li>
        <b>Remember the words to an inspiring song, quotation, or poem</b> that makes you feel better (e.g., the
        AA Serenity Prayer).
      </li>
      <li>
        <b>Remember a safe place.</b> Describe a place that you find very soothing (perhaps the beach or mountains, or a favorite room); focus on everything about that place--the sounds, colors, shapes, objects, textures.
      </li>
      <li>
        <b>Say a coping statement:</b> ' can handle this," "This feeling will pass."
      </li>
      <li>
        <b>Plan a safe treat for yourself,</b> such as a piece of candy, a nice dinner, or a warm bath.
      </li>
      <li>
        <b>Think of things you are looking forward to in the next week</b>-perhaps time with a friend, going to a movie, or going on a hike.
      </li>
    </ul>

    <h3>
      WHAT IF GROUNDING DOES NOT WORK?
    </h3>
    <p>
      Grounding does work! But, like any other skill, you need to practice to make it as powerful as possible. Below are suggestions to help make it work for you.
    </p>

    <ul>
      <li><b>Practice as often as possible,</b> even when you don't need it, so that you'll know it by heart.</li>
      <li><b>Practice faster.</b> Speeding up the pace gets you focused on the outside world quickly.</li>
      <li>
        <b>Try grounding for a looooooonnnnngggg time (20-30 minutes)</b>. And repeat, repeat, repeat.
      </li>
      <li>
        <b>Try to notice which methods you like best</b>-physical, mental, or soothing grounding methods, or some combination.
      </li>

      <li>
        <b>Create your own methods of grounding</b>. Any method you make up may be worth much more than those you read here, because it is yours.
      </li>
      <li>
        <b>Start grounding early in a negative mood cycle.</b> Start when a substance craving just starts or when you have just started having a flashback. Start before anger gets out of control.
      </li>
      <li>
        <b>Make up an index card</b> on which you list your best grounding methods and how long to use them.
      </li>
      <li>
        <b>Have others assist you in grounding.</b> Teach friends or family about grounding, so that they can help guide you with it if you become overwhelmed.
      </li>
      <li>
        Prepare in advance. Locate places at home, in your car, and at work where you have materials and reminders for grounding.
      </li>
      <li>
        <b>Create a cassette tape of a grounding message</b> that you can play when needed. Consider asking your therapist or someone close to you to record it if you want to hear someone else's voice.
      </li>
      <li>
        <b>Think about why grounding works.</b> Why might it be that by focusing on the external world, you become more aware of an inner peacefulness? Notice the methods that work for you-why might those be more powerful for you than other methods?
      </li>
      <li><b>Don't give up!</b></li>
    </ul>
    <h2>Ideas for a Commitment</h2>
    <hr class="fade">
    <p>
      Commit to one action that will move your life forward!
      It can be anything you feel will help you, or you can try one of the ideas below.
      Keeping your commitment is a way of respecting, honoring, and caring for yourself.
    </p>
    <ul>
      <li>
        + Option 1: Practice grounding for 10 minutes or more, rating your feelings before and after just as we did in the session).
      </li>
      <li>
        + Option 2: Reread the handout, circling the methods that you most want to try.
      </li>
      <li>
        Option 3: Find something to carry with you that helps you feel grounded (e.g., a small, beautiful rock; a picture of someone you love; an A chip you earned). Keep it in a place that you can access at any time, such as in your pocket or wallet, or on your key chain.
      </li>
      <li>
        Option 4: Fill out the Safe Coping Sheet.
      </li>
    </ul>

    <h2>
      EXAMPLE OF THE SAFE COPING SHEET APPLIED TO THIS TOPIC
    </h2>
    <hr class="fade">

    <table>
      <tr>
        <th></th>
        <th>Old Way</th>
        <th>New Way</th>
      </tr>
      <tr>
        <td><b>Situation</b></td>
        <td>Having a flashback.</td>
        <td>Having a flashback.</td>
      </tr>
      <tr>
        <td><b>Your Coping</b></td>
        <td>I got stuck in it; it was awful. I tried to drown my feelings in three gin-and-tonics.</td>
        <td>
          I can try to cope with a flashback by doing grounding.
          These are the ways that I think would work for me:
          <ol>
            <li>Run my hands under cool water.</li>
            <li>Try to remember every major Red Sox player from the 1970s.</li>
            <li>Turn on some music-loud, to drown out the flashback.</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td><b>Consequence</b></td>
        <td>
          I just feel like I have no control over my feelings. I can't stop myself from drinking when I get overwhelmed.
          <p>
            <b>
              How safe is vour old way of coping?___ 
            </b>
          </p>
        </td>
        <td> 
          The intensity goes down-not completely away, but down enough so that I don't feel like I have to drink.
          <p>
            <b>How safe is your new way of coping?___</b>
          </p>
        </td>
      </tr>
    </table>

    <p>
      Rate from 0 (not at all safe) to 10 (totally safe)
    </p>
  </section>
  <hr>

  <section class="main-section" id="week5">

    <header>Week 5</header>
    <h1>Creating Meaning</h1>
    <hr class="fade">
    <article>

      <blockquote>
        "Watch your thoughts; they become your words.<br>
        Watch your words; they become your actions.<br>
        Watch your actions; they become your habits.<br>
        Watch your habits; they become your character.<br>
        Watch your character; it becomes your destiny." 
        <span>   
          -Frank Outlaw
        </span>
        <span>(20th-century American writer)</span>
      </blockquote>

      <hr class="fade">
      <h2>Cognitive Triad</h2>
      <p>
        Mindfulness skills are very important skills because they get us present in the moment. We can begin to label and notice our feelings and thoughts. However, the question arises, what to do next? This next section explore the relationship between our thoughts, feelings, and behaviors and how if we are able to change one of these, then we are often able to improve our mood and/or make better choices for ourselves.
      </p>
      <P>
        The cognitive triad is a powerful model for explaining the relationship between our thoughts, feelings, and behaviors.
      </P>
      <h3 class="cognitive-tria">
        <b>
          The cognitive triad is a powerful model for explaining the relationship between our thoughts, feelings, and behaviors.
        </b>
      </h3>
      <section>
        <div class="cognitive-triad">
          <%= image_tag ('cognitive_triad.jpg') %>
        </div>
<!-- <img src="../source/images/cognitive_triad.jpg " alt="cognitive triad"> -->
</section>
<h3><b>Exploring Thoughts/Feelings/Behaviors</b></h3>
<p>
  Most of us go about our business without much attention to why we are doing things.
  Mindfulness allows us to slow down and explore in depth the relationship between our thoughts, feelings, and behaviors. When we do this, we begin to see the interrelationship between these three things.
</p>
<p>
  For instance, most depressed people have the following thoughts, "Life is hopeless. Why bother to do anything. It's no use." This leads to a feeling of heaviness and sadness, which leads to inaction and withdrawal from others. This behavior leads to more thoughts of hopelessness and futility, which leads to more depressed mood, which leads to more inaction, etc. Each part of the circle reinforces the others.
</p>
<p>
  A typical pattern of thoughts/feelings and behaviors can be constructed for most common emotions..
</p>

<h2>Creating Meaning</h2>
<hr class="fade">
<table>
  <tr>
    <th>Meanings that Harm</th>
    <th>Meanings that Heal</th>
  </tr>
  <tr>
    <td>I suffered a lot so I need to use substances or hurt myself</td>
    <td>Live a good life that makes up for the suffering you experienced</td>
  </tr>
  <tr>
    <td>I'm Crazy</td>
    <td>Respect your feelings- you are not crazy</td>
  </tr>

  <tr>
    <td>Your sense of time is distorted</td>
    <td>
      Use a clock and see that negative feelings won't last forever. Bad things will go away in a while and faster if you use a coping skill
    </td>
  </tr>

  <tr>
    <td>Beating yourself up</td>
    <td>Give yourself a break understand why you did what you did and come up with new plan</td>
  </tr>
  <tr>
    <td>The Past is always present</td>
    <td>Stay in the present. The trauma happened because you were a victim in the past, it is not happening now</td>

  </tr>
  <tr>
    <td>Give yourself permission to do dangerous behaviors</td>
    <td>Find safe friends, places that will support you</td>
  </tr>

  <tr>
    <td>I have to escape</td>
    <td>I can learn to tolerate the feelings and solve problems</td>
  </tr>

  <tr>
    <td>Feelings are reality</td>
    <td>Feelings are valid but they aren't reality. Listen to what you know</td>
  </tr>

  <tr>
    <td>You think you know what other people are thinking</td>
    <td>Ask the person before you assume you know what they are thinking</td>
  </tr>

  <tr>
    <td>I don't have a future</td>
    <td>You have many choices no matter what has happened to you</td>
  </tr>

  <tr>
    <td>
      If this happens.......then this bad thing will happen
    </td>
    <td>Stay in the present with what you can do now</td>
  </tr>

  <tr>
    <td>I am my trauma</td>
    <td>You are more than what you have gone through, you have goals and hopes</td>
  </tr>

  <tr>
    <td>
      Life or death thinking- If___doesn't happen I will die!
    </td>
    <td>Keep perspective - what is the worst that can happen? Sure I will be upset but I'm not going to die</td>
  </tr>

  <tr>
    <td>Confusing what you want with what you need</td>
    <td>
      Needs are food, shelter, clothes you may want a drink/drug but you don't need it
    </td>
  </tr>

  <tr>
    <td>
      Thinking only of what you want right now
    </td>
    <td>
      Think of the results of what you are doing and how you'll feel about it
      tomorrow
    </td>
  </tr>

  <tr>
    <td>Notice all the bad things and ignore anything good</td>
    <td>Notice what went right, what's good about the situation</td>
  </tr>

  <tr>
    <td>
      Things are either all good or all bad
    </td>
    <td>
      Life is more complex- look at life from a balanced view, what went wrong and what went right?
    </td>
  </tr>
</table>

<h2>Checklist of Cognitive Distortions</h2>
<ol>
  <li><b>All-or-nothing thinking:</b> You look at things in absolute, black-and-white categories.</li>
  <li> <b>Over generalization:</b> You view a negative event as a never-ending pattern of defeat.</li>
  <li><b>Mental filter:</b> You dwell on the negatives.</li>
  <li> <b>Discounting the positives:</b> You insist that your accomplishments or positive qualities don't count.</li>
  <li>
    <b>Jumping to conclusions: </b>(A)<b> Mind-reading</b>--you assume that people are reacting negatively to you when there's no definite evidence;
    (B) <b>Fortune-telling</b>--you arbitrarily predict that things will furn out badly.
  </li>
  <li><b>Magnification or minimization: </b>You blow things way out of proportion or you shrink their importance.</li>
  <li><b>Emotional reasoning:</b> You reason from how you feel: " feel like an idiot, so I really must be one.</li>
  <li>
    <b>"Should statements": </b>You criticize yourself (or other people) with "shoulds," "oughts," "musts" and "have tos."
  </li>
  <li>
    <b>Labeling:</b> Instead of saying "I made a mistake," you tell yourself, "I'm a jerk," or "a fool." or "a loser."  
  </li>
  <li>
    <b>Personalization and blame: </b>You blame yourself for something you weren't entirely responsible for, or you blame other people and deny your role in the problem.
  </li>
</ol>

<h2>Ideas for a Commitment</h2>
<hr class="fade">
<p>
  Commit to one action that will move your life forward!
  It can be anything you feel will help you, or you can try one of the ideas below.
  Keeping your commitment is a way of respecting, honoring, and caring for yourself.
</p>
<ul>
  <li>
    Option 1: Take one harmful meaning from the handout and write out in detail how you can respond to it.
  </li>
  <li>
    Option 2: Describe and name a meaning that you have observed in yourself or others that is not already on the handout.  
  </li>
  <li>
    Option 3: Identify one major meaning that gives your life purpose (e.g., your children? your job? your spiritu-ality? your recovery?). Write out how that meaning can help keep you focused on your recovery.  
  </li>
  <li>
    Option 4: Write out how you can talk to yourself the next time you feel like doing something that is unsafe.  
  </li>
  <li>
    Option 5: Fill out the Safe Coping Sheet. (See below for an example applied to this topic.)
  </li>
</ul>

<h3>EXAMPLE OF THE SAFE COPING SHEET APPLIED TO THIS TOPIC</h3>
<hr class="fade">
<table>
  <tr>
    <th></th>
    <th>Old Way</th>
    <th>New Way</th>
  </tr>
  <tr>
    <td><b>Situation</b></td>
    <td>My therapist is going on vacation.</td>
    <td>My therapist is going on vacation.</td>
  </tr>
  <tr>
    <td><b>Your Coping</b></td>
    <td>Thought to myself, "I'm being abandoned; no one really cares about me." Drank half a bottle of wine.</td>
    <td>
      I'm using "Deprivation Reasoning"-thinking I have a right to drink because of suffering. Also, I'm using
      "All-or-None 'Thinking". In fact, there are people who care about me, and my therapist going away doesn't mean she doesn't care about me.
    </td>
  </tr>
  <tr>
    <td><b>Consequence</b></td>
    <td>
      Drinking didn't get my therapist back from vacation- it made me feel better for a few hours, then worse for a
      few days.
    </td>
    <td> 
      By noticing the meanings I'm creating, I feel a little  more in touch with myself. 
      I'm going to talk to my therapist about how I feel.
    </td>
  </tr>
</table>
<p>
  <b>
    How safe is your old way of coping?__
  </b>
</p>
<p>
  <b>
    How safe is your new way of coping?__
  </b>
</p>
<p><em>Rate from 0 (not at all safe) to 10 (totally sate)</em></p>
</article>
</section>

<!-- <section class="main-section" id="week6">

<header>Week 6</header>
<h1>Setting Boundaries in Relationships</h1>
<hr class="fade">
<article>

<blockquote>
"Let your heart guide you. <br>
It whispers, so listen closely."

<span>   
-Molly Goode
</span>
<span>(20th-century American writer)</span>
</blockquote>

</article>
</section>

<section class="main-section" id="week7">

<header>Week 7</header>
<h1></h1>
<hr class="fade">
<article>

<blockquote>
"Watch your thoughts; they become your words.<br>
Watch your words; they become your actions.<br>

<span>   
-Frank Outlaw
</span>
<span>(20th-century American writer)</span>
</blockquote>

</article>
</section>

<section class="main-section" id="week8">

<header>Week 8</header>
<h1>Creating Meaning</h1>
<hr class="fade">
<article>

<blockquote>
"Watch your thoughts; they become your words.<br>
Watch your words; they become your actions.<br>
Watch your actions; they become your habits.<br>
Watch your habits; they become your character.<br>
Watch your character; it becomes your destiny." 
<span>   
-Frank Outlaw
</span>
<span>(20th-century American writer)</span>
</blockquote>

</article>
</section> -->




<section class="main-section" id="Reference">
  <header>Reference</header>
  <article>
    <ul>
      <li>
        All the documentation in this page is taken from
        <a
        href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide"
        target="_blank"
        >MDN</a
        >
      </li>
    </ul>
  </article>
</section>

<div class="scroll-container">
  <a href="#top">To Top</a>
</div>
</main>