<section class="main-section" id="week3">
  <header>Week 3</header>
  <h1>PTSD: Taking Back Your Power</h1>
  <hr class="fade">
  <article>
    <blockquote>

      "You are not responsible for being down, <br>
      but you are responsible for getting up." <br>

      <span> - Jesse Jackson </span>
      <span>(20th-century American political leader)</span>
    </blockquote>

    <h2>What Is PTSD?</h2>
    <hr class="fade">

    <p>
      <b>PTSD stands for "posttraumatic stress disorder"</b>-a set of emotional problems that can occur after someone has experienced a terrible, stressful life event.
    </p>
    <p>
      <b>PTSD means:</b>
      "post <em>("after")</em> traumatic <em>("trauma")</em> stress <em>("anxiety")</em> disorder <em>("reaction")</em>"
    </p>


    <p> Do you have PTSD? Check off (✓) those below that are true for you.</p>
    <p>
      _1. You survived a trauma: an event outside of your control in which you experienced or witnessed a physical threat (e.g., sexual abuse, physical abuse, war combat, seeing someone killed, surviving a hurricane, a car accident).
    </p>
    <p>
      2. Your response to the trauma involved intense helplessness, fear, or horror (or, if you were a child at the time, agitated or disorganized behavior).
    </p>
    <p>
      _3. After the trauma, you suffered each of the following problems for over a month:
    </p>
    <ul>
      <li>
        __  INTRUSION: The trauma comes back into mind even when you don't want it to, as in nightmares,
        flashbacks, or images.
      </li>
      <li>
        __  AVOIDANCE: Numbing, feeling detached, avoiding any reminders of the trauma.
      </li>
      <li>
        __ AROUSAL: Feeling "hyped up" (e.g., easily startled, sleep problems, anger).    
      </li>
      <li>
        __ LOWER FUNCTIONING: Problems with relationships, work, or other major areas of life.
      </li>
    </ul>
    <p>
      <em>
        Note: You have PTSD if you checked off all of the items above.
      </em>
    </p>
    <h3>
      TYPES OF PTSD
    </h3>
    <p>
      There are two types of PTSD. "Simple PTSD" is from a single incident (such as a car accident or a tornado), usually as an adult. "Complex PTSD" is from repeated incidents such as domestic violence or ongoing childhood abuse. It has a broader range of symptoms, including problems with self-harm, suicide, dissociation ("losing time"), relationships, memory, sexuality, health, anger, shame, guilt, numbness, loss of faith and trust, and feeling damaged.
    </p>
    <h3>
      MORE ABOUT PTSD ...
    </h3>
    <ul>
      <li>
        <b>Your PTSD symptoms are normal after what you have been through.</b>
        You are not crazy, weak, or bad! That is why PTSD has been called "a normal reaction to abnormal events."
      </li>
      <li>
        <b>PTSD is considered an anxiety disorder</b> because it is marked by an overwhelming feeling of anxiety during or after the trauma. It is a psychiatric illness, but it is definitely possible to heal from it.
      </li>
      <li>
        <b>Rates of PTSD:</b> 61% of men experience trauma during their lives, with 5% developing PTSD; for women, 51% experience trauma, and 10% develop PTSD. Why do some people develop PTSD after trauma and others don't?
        This is not fully known, but some risk factors include more severe, repeated, and/or early trauma; poverty; parents who had PTSD; and life stress.  
      </li>
      <li>
        <b>Knowledge about PTSD is relatively recent.</b> It was first studied in soldiers who experienced combat. Later, it came to be understood in a wide variety of terrible life events (e.g., sexual and physical abuse, natural disasters).
        PTSD was added to the official list of psychiatric disorders only in 1980. More is being learned all the time because it is so important.
      </li>
      <li>
        <b>It is possible to heal from severe trauma.</b> Some famous people who have include Oprah Winfrey (TV per-sonality), Melanie Griffith (actress), and Maya Angelou (writer).
      </li>
    </ul>
    <h2>The Link between PTSD and Substance Abuse</h2>
    <hr class="fade">

    <p>
      PTSD and substance abuse are closely connected for many people, yet this link often goes unrecognized. Below is some information that may be helpful to you.
    </p>
    <ul>
      <li>
        <b>You are not alone!</b> For people with substance abuse, PTSD is one of the most common dual diagnoses.
        Among women in treatment for substance abuse, 30%-59% have current PTSD. Among men in substance abuse treatment, 11%-38% have current PTSD.
      </li>
      <li>
        <b>There are many reasons why people with PTSD abuse substances:</b> to access feelings or memories, or the opposite to escape from feelings or memories; to get through the day; to compensate for the pain of PTSD; to commit "slow suicide"; because they grew up with substance abuse in the family; because they don't care about taking care of their bodies.  
      </li>
      <li>People with PTSD and substance abuse tend to abuse the most dangerous substances: cocaine and opiates.</li>
      <li>
        <b>Gender differences:</b> Women with PTSD and substance abuse typically experienced childhood physical and/ or sexual abuse; men with both disorders typically experienced crime victimization or war trauma.
      </li>
      <li>
        <b>Two main themes of both disorders are secrecy and control.</b> "Secrecy" means you may feel ashamed and wish to keep your problems a secret (e.g., the traumas you experienced, the amount of your substance use).
        "Control" refers to the idea that with trauma and substance abuse, you feel out of control. In PTSD, a terrible event occurred that you neither chose nor wanted; in substance abuse, you have lost control over your ability to stop using.
        Learning the skills of honesty and regaining control are thus important for healing.
      </li>
      <li>
        <b>Each of the disorders makes the other more likely.</b> If you have PTSD, you are at increased risk for substance abuse. If you have substance abuse, you are at increased risk for trauma. It is thus important to try to keep yourself safe to prevent further trauma and substance abuse.
      </li>
      <li>
        <b>The relationship between PTSD and substance abuse is complex.</b> Using substances can either increase or decrease the PTSD symptoms. Yet abstinence from substances can also either increase or decrease the PTSD symp-toms. Try to notice the patterns that occur for you. Getting to know the relationship between the two disorders in your life can help you cope better with the recovery process.  
      </li>
      <li>
        <b>Why do PTSD and substance abuse occur together?</b> Four patterns are common:
        <ol>
          <li>
            PTSD can lead to substance abuse. To overcome the terrible symptoms of PTSD, you may use substances to "self-medicate"-to try to feel better. For example, you may have begun using alcohol to get to sleep at night.
          </li>
          <li>
            Substance abuse can lead to PTSD. If you abuse substances, you may be vulnerable to dangerous traumatic situations because your "guard is down" or your self-esteem is low-for example, getting drunk at a bar and going home with a stranger who assaults you.
          </li>
          <li>
            PTSD and substance abuse may have both occurred together. Some people grew up in a home where family members abused substances and also hurt each other.
          </li>
          <li>
            PTSD and substance abuse can be connected in a "downward spiral." PTSD can lead you to use sub stances; by using substances, you are at increased risk for more trauma; if more trauma happens, you may use more substances 
            to 'cope' ...and so on.
          </li>
        </ol>
      </li>
    </ul>

    <div class="priorities-ptsd-section">
      <p>The "big picture" priorities in this treatment:</p>
      <ul class="priorities-ptsd">
        <li><b>Eliminate substance use</b></li>
        <li><b>Learn to manage PTSD</b></li>
        <li><b>Become safe</b></li>
      </ul>

      You can heal from both PTSD and substance abuse!
    </div>

<h3>Using Compassion to Take Back Your Power</h3>
<hr class="fade">
<p>
<b>Having compassion for your PTSD and substance abuse is a way to "take back your power."</b> One of the most troubling aspects of PTSD and substance abuse is that you feel powerless over them-they are controlling you rather than vou controlling them. "Compassion" means accepting and respecting yourself. The opposite of compassion is harshness. Rather than blaming yourself, the goal is to understand and really listen to yourself at a deep level.
This can make it easier to heal from PTSD and substance abuse.
</p>
<p>
Compassion may feel very difficult to do. It is easier to "beat yourself up" and hate yourself, especially if you grew up in a family where this is how you were treated. With PTSD and substance abuse, you may view yourself as sick, damaged, weak, crazy, bad, or lazy. There may be people in your life who view you in those ways too. However, it is helpful to understand your PTSD and substance abuse as attempts to survive and cope. It has been said that
"these symptoms simultaneously conceal and reveal their origins; they speak in disguised language of secrets too terrible for words" (Herman, 1992, p. 96).
</p>
<p>
<b>This does not mean that the PTSD and substance abuse should continue.</b> Indeed, the major goal of this treatment is to help you overcome PTSD and substance abuse by learning safe ways of coping. But it helps to understand your PTSD and substance abuse as signs of distress. It is like having a fever when you are ill-it tells you that you need to get help and take good care of yourself.
</p>
<h4>
COMPASSION FOR YOUR PTSD
</h4>
<p>
<b>PTSD can be understood as an attempt by your mind and body to survive overwhelming trauma.</b> PTSD symptoms may have helped you to "tune out" the terrible trauma . ... protect yourself from further harm ... feel more in control of an uncontrollable situation . .. feel safer . . . adapt to your environment . .. get people to notice your pain.
</p>
<p>
  <b>
Examples of Viewing PTSD Symptoms with Compassion
</b>
</p>
<p><b>Suicidal thinking</b></p>
<p>
Harsh view. "I'm hopeless. What's wrong with me? I should just get over it already."
Compassionate view. "It's my way to feel more in control, by choosing life or death. In therapy I can learn other
ways to feel control, but suicidal thoughts make sense after what I've lived through."
</p>
<p><b>Relationship problems</b></p>
<p>
Harsh view: "I'm unlovable. I deserved what happened to me. I'm a bad person."
Compassionate view: "I learned not to trust people, and that helped me survive. I can keep working on relationship issues, but I need to be respectful of myself and why I have these problems."
</p>
<p>
* Write a harsh versus compassionate view of your PTSD. (Continue on back for more space.)
</p>
<p>
Harsh view: __________________________________________
</p>
  <p>
Compassionate view: __________________________________________
</p>

  </article>
</section>